docker-compose/n8n-workflows/alert-to-mr-pipeline.json
{
  "name": "Alert to MR Pipeline",
  "meta": {
    "description": "Jira 이슈 기반으로 자동 수정 파이프라인을 실행합니다. 브랜치 생성 → Claude Code 수정 → MR 생성까지 자동화합니다. projects.json의 jiraProject, gitlabPath 설정을 사용합니다."
  },
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert-pipeline",
        "responseMode": "onReceived",
        "options": {
          "responseData": "allEntries"
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "alert-pipeline"
    },
    {
      "parameters": {
        "jsCode": "// 파이프라인 요청 파싱 (alert-channel-monitor에서 프로젝트 정보 전달받음)\nconst body = $input.item.json.body || $input.item.json;\n\n// 프로젝트 정보 (projects.json에서 이미 조회됨)\nconst projectId = body.projectId;\nconst projectName = body.projectName;\nconst jiraProject = body.jiraProject || 'PROJ';  // projects.json의 jiraProject\nconst gitlabPath = body.gitlabPath;\nconst workingDirectory = body.workingDirectory;\nconst defaultBranch = body.defaultBranch || 'develop';\n\n// 분석 결과\nconst summary = body.summary;\nconst description = body.description;\nconst severity = body.severity || 'HIGH';\nconst suggestedFix = body.suggestedFix;\nconst errorType = body.errorType;\n\n// Slack 정보\nconst channel = body.channel;\nconst threadTs = body.threadTs;\nconst userId = body.userId;\n\n// 워크스페이스 경로 (환경변수 폴백)\nconst workspacePath = process.env.WORKSPACE_PATH || '/workspace';\nconst projectPath = workingDirectory || `${workspacePath}/${projectId}`;\n\nreturn {\n  json: {\n    projectId,\n    projectName,\n    projectPath,\n    jiraProject,\n    gitlabPath,\n    baseBranch: defaultBranch,\n    summary,\n    description,\n    severity,\n    suggestedFix,\n    errorType,\n    channel,\n    threadTs,\n    userId\n  }\n};"
      },
      "id": "parse-request",
      "name": "Parse Pipeline Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ $json.threadTs }}"
            },
            {
              "name": "text",
              "value": ":hourglass_flowing_sand: *자동 수정 파이프라인 시작*\n\n1. :ticket: Jira 이슈 생성 중..."
            }
          ]
        }
      },
      "id": "notify-start",
      "name": "Notify Pipeline Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/plugins/jira/issues",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project: $('Parse Pipeline Request').item.json.jiraProject, summary: $('Parse Pipeline Request').item.json.summary, description: $('Parse Pipeline Request').item.json.description + '\\n\\n에러 타입: ' + ($('Parse Pipeline Request').item.json.errorType || 'Unknown'), issueType: 'Bug', labels: ['auto-created', 'alert-trigger', $('Parse Pipeline Request').item.json.projectId] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "create-jira",
      "name": "Create Jira Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const jiraResponse = $input.item.json;\nconst pipelineData = $('Parse Pipeline Request').item.json;\n\n// Jira 응답에서 이슈 키 추출\nconst issueKey = jiraResponse.data?.key || jiraResponse.key || 'UNKNOWN';\nconst issueUrl = jiraResponse.data?.url || jiraResponse.url || '';\n\n// 브랜치 이름 생성 (Jira 이슈 키 기반)\nconst branchName = `fix/${issueKey.toLowerCase()}`;\n\nreturn {\n  json: {\n    ...pipelineData,\n    issueKey,\n    issueUrl,\n    branchName\n  }\n};"
      },
      "id": "extract-jira-key",
      "name": "Extract Jira Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ $json.threadTs }}"
            },
            {
              "name": "text",
              "value": "=:white_check_mark: Jira 이슈 생성: *{{ $json.issueKey }}*\n{{ $json.issueUrl }}\n\n2. :computer: Claude Code 실행 중... ({{ $json.baseBranch }} pull → 브랜치 생성 → 코드 수정)"
            }
          ]
        }
      },
      "id": "notify-jira-created",
      "name": "Notify Jira Created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/chat/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: [{ role: 'user', content: '**[자동화 파이프라인 - 사용자 입력 없이 자율 완료 필수]**\\n\\n장애 수정 작업을 진행하세요. 질문하지 말고 끝까지 완료하세요.\\n\\n## 🚨 최우선 규칙: 현재 디렉토리에서만 작업\\n**절대로 cd 명령어로 다른 디렉토리로 이동하지 마세요!**\\n현재 디렉토리가 올바른 작업 위치입니다. 다른 디렉토리를 검색하거나 이동하면 자동화가 깨집니다.\\n\\n## 작업 정보\\n- 프로젝트: ' + $('Extract Jira Key').item.json.projectName + ' (' + $('Extract Jira Key').item.json.projectId + ')\\n- GitLab: ' + ($('Extract Jira Key').item.json.gitlabPath || 'N/A') + '\\n- Jira 이슈: ' + $('Extract Jira Key').item.json.issueKey + '\\n- 브랜치: ' + $('Extract Jira Key').item.json.branchName + '\\n- Base 브랜치: ' + $('Extract Jira Key').item.json.baseBranch + '\\n\\n## 장애 내용\\n' + $('Extract Jira Key').item.json.summary + '\\n\\n' + $('Extract Jira Key').item.json.description + '\\n\\n## 에러 타입\\n' + ($('Extract Jira Key').item.json.errorType || 'Unknown') + '\\n\\n## 수정 제안\\n' + ($('Extract Jira Key').item.json.suggestedFix || '분석 후 수정 진행') + '\\n\\n## 필수 작업 (순서대로 모두 실행)\\n1. `git fetch origin ' + $('Extract Jira Key').item.json.baseBranch + '`\\n2. `git checkout -B ' + $('Extract Jira Key').item.json.branchName + ' origin/' + $('Extract Jira Key').item.json.baseBranch + '`\\n3. 코드 분석\\n4. 수정이 필요하면 코드 수정, 필요없으면 ANALYSIS.md에 분석 결과 작성\\n5. `git add .`\\n6. `git commit -m \"fix(' + $('Extract Jira Key').item.json.issueKey + '): 장애 분석\"`\\n7. `git push -u origin ' + $('Extract Jira Key').item.json.branchName + '`\\n8. `glab mr create --source-branch ' + $('Extract Jira Key').item.json.branchName + ' --target-branch ' + $('Extract Jira Key').item.json.baseBranch + ' --title \"' + $('Extract Jira Key').item.json.issueKey + ': 장애 분석\" --yes`\\n\\n## 절대 규칙\\n- 사용자에게 질문하지 마세요\\n- 옵션을 제시하지 마세요\\n- **절대 cd 명령어 사용 금지**\\n- 위 단계를 모두 실행하고 MR URL을 출력하세요\\n- 테스트가 통과해도 ANALYSIS.md를 작성하고 MR을 생성하세요' }], projectId: $('Extract Jira Key').item.json.projectId, model: 'sonnet', source: 'alert-pipeline', maxTurns: 30 }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "execute-claude-code",
      "name": "Execute Claude Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.item.json;\nconst pipelineData = $('Extract Jira Key').item.json;\n\n// Claude 응답에서 MR URL 추출\nconst response = claudeResponse.content || claudeResponse.response || claudeResponse.output || '';\nconst mrUrlMatch = response.match(/https:\\/\\/gitlab[^\\s)]+merge_requests\\/\\d+/);\nconst mrUrl = mrUrlMatch ? mrUrlMatch[0] : null;\n\n// MR URL이 실제로 있어야만 성공\nconst success = !!mrUrl;\n\nconsole.log('Claude response length:', response.length);\nconsole.log('MR URL found:', mrUrl);\nconsole.log('Success:', success);\n\nreturn {\n  json: {\n    ...pipelineData,\n    success,\n    mrUrl,\n    claudeResponse: response.substring(0, 2000) // 로그용\n  }\n};"
      },
      "id": "parse-claude-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-success",
      "name": "Pipeline Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ $json.threadTs }}"
            },
            {
              "name": "text",
              "value": "=:tada: *자동 수정 파이프라인 완료!*\n\n:ticket: Jira: *{{ $json.issueKey }}*\n:seedling: Branch: `{{ $json.branchName }}`\n:twisted_rightwards_arrows: MR: {{ $json.mrUrl || '생성됨' }}\n\n_리뷰 후 머지해주세요._"
            }
          ]
        }
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.channel }}"
            },
            {
              "name": "thread_ts",
              "value": "={{ $json.threadTs }}"
            },
            {
              "name": "text",
              "value": "=:x: *MR 생성 실패*\n\n:ticket: Jira: *{{ $json.issueKey }}* (생성됨)\n:seedling: Branch: `{{ $json.branchName }}`\n\n**MR URL이 응답에 없습니다.** 수동 확인 필요.\n\nClaude 응답 (일부):\n```\n{{ $json.claudeResponse }}\n```"
            }
          ]
        }
      },
      "id": "notify-failure",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse Pipeline Request", "type": "main", "index": 0 }]
      ]
    },
    "Parse Pipeline Request": {
      "main": [
        [{ "node": "Notify Pipeline Start", "type": "main", "index": 0 }]
      ]
    },
    "Notify Pipeline Start": {
      "main": [
        [{ "node": "Create Jira Issue", "type": "main", "index": 0 }]
      ]
    },
    "Create Jira Issue": {
      "main": [
        [{ "node": "Extract Jira Key", "type": "main", "index": 0 }]
      ]
    },
    "Extract Jira Key": {
      "main": [
        [{ "node": "Notify Jira Created", "type": "main", "index": 0 }]
      ]
    },
    "Notify Jira Created": {
      "main": [
        [{ "node": "Execute Claude Code", "type": "main", "index": 0 }]
      ]
    },
    "Execute Claude Code": {
      "main": [
        [{ "node": "Parse Claude Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [{ "node": "Pipeline Success?", "type": "main", "index": 0 }]
      ]
    },
    "Pipeline Success?": {
      "main": [
        [{ "node": "Notify Success", "type": "main", "index": 0 }],
        [{ "node": "Notify Failure", "type": "main", "index": 0 }]
      ]
    },
    "Notify Success": {
      "main": []
    },
    "Notify Failure": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-21T10:00:00.000Z",
  "versionId": "1"
}
