docker-compose/n8n-workflows/daily-report.json
{
  "name": "Daily Usage Report",
  "versionId": "daily-report-v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Weekday 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/stats",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-stats",
      "name": "Fetch Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/executions/recent?limit=100",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-executions",
      "name": "Fetch Recent Executions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 통계 및 실행 데이터 병합\nconst stats = $('Fetch Stats').item.json;\nconst executions = $('Fetch Recent Executions').item.json;\n\n// 오늘 날짜 기준 필터링\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\nconst yesterday = new Date(today);\nyesterday.setDate(yesterday.getDate() - 1);\n\nconst todayExecutions = executions.filter(e => {\n  const created = new Date(e.createdAt);\n  return created >= yesterday && created < today;\n});\n\n// 에이전트별 사용량\nconst agentUsage = {};\nfor (const exec of todayExecutions) {\n  const agent = exec.agentId || 'unknown';\n  if (!agentUsage[agent]) {\n    agentUsage[agent] = { count: 0, success: 0, tokens: 0 };\n  }\n  agentUsage[agent].count++;\n  if (exec.status === 'SUCCESS') {\n    agentUsage[agent].success++;\n  }\n  agentUsage[agent].tokens += (exec.inputTokens || 0) + (exec.outputTokens || 0);\n}\n\n// 사용자별 사용량\nconst userUsage = {};\nfor (const exec of todayExecutions) {\n  const user = exec.userId || 'unknown';\n  if (!userUsage[user]) {\n    userUsage[user] = 0;\n  }\n  userUsage[user]++;\n}\n\n// 상위 5명 사용자\nconst topUsers = Object.entries(userUsage)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5);\n\nreturn {\n  json: {\n    date: yesterday.toISOString().split('T')[0],\n    totalExecutions: todayExecutions.length,\n    successRate: todayExecutions.length > 0 \n      ? (todayExecutions.filter(e => e.status === 'SUCCESS').length / todayExecutions.length * 100).toFixed(1)\n      : 0,\n    totalTokens: todayExecutions.reduce((sum, e) => sum + (e.inputTokens || 0) + (e.outputTokens || 0), 0),\n    agentUsage,\n    topUsers,\n    overallStats: stats\n  }\n};"
      },
      "id": "process-data",
      "name": "Process Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 375]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\n\nlet agentSection = '';\nfor (const [agent, usage] of Object.entries(data.agentUsage)) {\n  const successRate = usage.count > 0 ? (usage.success / usage.count * 100).toFixed(1) : 0;\n  agentSection += `• *${agent}*: ${usage.count}회 (성공률 ${successRate}%, ${usage.tokens.toLocaleString()} tokens)\\n`;\n}\n\nlet userSection = '';\nfor (const [user, count] of data.topUsers) {\n  userSection += `• <@${user}>: ${count}회\\n`;\n}\n\nconst message = {\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: `📊 Claude Flow Daily Report - ${data.date}`,\n        emoji: true\n      }\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*일일 요약*\\n• 총 실행: *${data.totalExecutions}회*\\n• 성공률: *${data.successRate}%*\\n• 사용 토큰: *${data.totalTokens.toLocaleString()}* tokens`\n      }\n    },\n    {\n      type: 'divider'\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*에이전트별 사용량*\\n${agentSection || '• 데이터 없음'}`\n      }\n    },\n    {\n      type: 'divider'\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*Top 5 사용자*\\n${userSection || '• 데이터 없음'}`\n      }\n    },\n    {\n      type: 'divider'\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*누적 통계*\\n• 총 실행: ${data.overallStats?.totalExecutions || 0}회\\n• 전체 성공률: ${((data.overallStats?.successRate || 0) * 100).toFixed(1)}%\\n• 👍 ${data.overallStats?.thumbsUp || 0} / 👎 ${data.overallStats?.thumbsDown || 0}`\n      }\n    },\n    {\n      type: 'context',\n      elements: [\n        {\n          type: 'mrkdwn',\n          text: '_Generated by Claude Flow_'\n        }\n      ]\n    }\n  ]\n};\n\nreturn { json: message };"
      },
      "id": "format-message",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 375]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $env.SLACK_REPORT_CHANNEL || '#claude-flow-reports', blocks: $json.blocks }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "post-to-slack",
      "name": "Post Report to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 375],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Weekday 9AM": {
      "main": [
        [
          { "node": "Fetch Stats", "type": "main", "index": 0 },
          { "node": "Fetch Recent Executions", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Stats": {
      "main": [
        [{ "node": "Process Report Data", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Recent Executions": {
      "main": [
        [{ "node": "Process Report Data", "type": "main", "index": 0 }]
      ]
    },
    "Process Report Data": {
      "main": [
        [{ "node": "Format Slack Message", "type": "main", "index": 0 }]
      ]
    },
    "Format Slack Message": {
      "main": [
        [{ "node": "Post Report to Slack", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
