docker-compose/n8n-workflows/gitlab-feedback-poller.json
{
  "name": "GitLab Feedback Poller",
  "meta": {
    "description": "5분마다 GitLab MR 코멘트의 이모지 리액션을 수집합니다. AI 리뷰에 대한 개발자 피드백을 추적합니다. 최근 3일 내 MR 대상, 중복은 API에서 자동 처리됩니다. [v2] claude-flow API를 통해 GitLab 호출 (Docker DNS 문제 해결)"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "5분마다 GitLab 피드백 폴링"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLAUDE_FLOW_API_URL }}/api/v1/projects/gitlab-enabled",
        "options": {}
      },
      "id": "get-gitlab-projects",
      "name": "Get GitLab Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "notes": "GitLab 연동 프로젝트 목록 조회 (claude-flow API)"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-projects",
      "name": "Loop Projects",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLAUDE_FLOW_API_URL }}/api/v1/plugins/gitlab/mrs/reviewed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "project", "value": "={{ $json.gitlabPath }}" },
            { "name": "days", "value": "3" }
          ]
        },
        "options": {}
      },
      "id": "get-reviewed-mrs",
      "name": "Get Reviewed MRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300],
      "notes": "[v2] claude-flow API를 통해 AI 리뷰 완료 MR 조회 (GitLab 직접 호출 제거)"
    },
    {
      "parameters": {
        "jsCode": "// claude-flow API 응답에서 data 추출\nconst response = $input.first().json;\nif (response.success && response.data && Array.isArray(response.data)) {\n  return response.data.map(mr => ({ json: mr }));\n}\nreturn [];"
      },
      "id": "extract-mrs",
      "name": "Extract MRs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "notes": "API 응답에서 MR 배열 추출"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-mrs",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-mrs",
      "name": "Has MRs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-mrs",
      "name": "Loop MRs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1360, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLAUDE_FLOW_API_URL }}/api/v1/plugins/gitlab/mrs/{{ encodeURIComponent($('Loop Projects').item.json.gitlabPath) }}/{{ $json.iid }}/notes",
        "options": {}
      },
      "id": "get-mr-notes",
      "name": "Get MR Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "notes": "[v2] claude-flow API를 통해 MR 노트 조회"
    },
    {
      "parameters": {
        "jsCode": "// claude-flow API 응답에서 data 추출 후 AI 코멘트 필터링\nconst response = $input.first().json;\nconst projectId = $('Loop Projects').item.json.gitlabPath;\nconst mrIid = $('Loop MRs').item.json.iid;\nconst mrTitle = $('Loop MRs').item.json.title || '';\n\nconst notes = (response.success && response.data) ? response.data : [];\nconst aiNotes = [];\n\nfor (const note of notes) {\n  // AI 코멘트 식별 (author가 봇이거나 특정 마커가 있는 경우)\n  const isAiComment = note.body && (\n    note.body.includes('## 🤖 AI Code Review') ||\n    note.body.includes('Claude Flow') ||\n    note.author === 'claude-bot'\n  );\n  \n  if (isAiComment) {\n    aiNotes.push({\n      projectId: projectId,\n      mrIid: mrIid,\n      noteId: note.id,\n      reviewContent: note.body.substring(0, 2000),\n      mrContext: `MR #${mrIid}: ${mrTitle}`,\n      discussionId: null\n    });\n  }\n}\n\nreturn aiNotes.map(n => ({ json: n }));"
      },
      "id": "find-ai-notes",
      "name": "Find AI Notes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 200],
      "notes": "AI 코멘트만 필터링 (본문 포함)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-ai-notes",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-ai-notes",
      "name": "Has AI Notes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1960, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-ai-notes",
      "name": "Loop AI Notes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2160, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL }}/api/v1/feedback/gitlab-review",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ projectId: $json.projectId, mrIid: $json.mrIid, noteId: $json.noteId, reviewContent: $json.reviewContent, mrContext: $json.mrContext, discussionId: $json.discussionId }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "register-ai-review",
      "name": "Register AI Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2360, 100],
      "notes": "AI 리뷰를 DB에 등록 (중복 시 무시)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLAUDE_FLOW_API_URL }}/api/v1/plugins/gitlab/mrs/{{ encodeURIComponent($('Loop AI Notes').item.json.projectId) }}/{{ $('Loop AI Notes').item.json.mrIid }}/notes/{{ $('Loop AI Notes').item.json.noteId }}/emojis",
        "options": {}
      },
      "id": "get-note-emojis",
      "name": "Get Note Emojis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2560, 100],
      "notes": "[v2] claude-flow API를 통해 이모지 조회"
    },
    {
      "parameters": {
        "jsCode": "// claude-flow API 응답에서 피드백 이모지 필터링 (👍/👎)\nconst response = $input.first().json;\nconst noteData = $('Loop AI Notes').item.json;\nconst emojis = (response.success && response.data) ? response.data : [];\nconst feedbackEmojis = [];\n\nfor (const emoji of emojis) {\n  if (emoji && emoji.name && ['thumbsup', 'thumbsdown', '+1', '-1'].includes(emoji.name)) {\n    feedbackEmojis.push({\n      projectId: noteData.projectId,\n      noteId: noteData.noteId,\n      emoji: emoji.name,\n      userId: emoji.user_id || 0,\n      action: 'award'\n    });\n  }\n}\n\nreturn feedbackEmojis.map(e => ({ json: e }));"
      },
      "id": "filter-feedback-emojis",
      "name": "Filter Feedback Emojis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2760, 100],
      "notes": "👍/👎 이모지만 필터링"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-emojis",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-feedback-emojis",
      "name": "Has Feedback Emojis?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2960, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL }}/api/v1/feedback/gitlab-emoji",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save-emoji-feedback",
      "name": "Save Emoji Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3160, 0],
      "notes": "이모지 피드백 저장"
    },
    {
      "parameters": {},
      "id": "no-op-1",
      "name": "No MRs",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1360, 400]
    },
    {
      "parameters": {},
      "id": "no-op-2",
      "name": "No AI Notes",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2160, 300]
    },
    {
      "parameters": {},
      "id": "no-op-3",
      "name": "No Emojis",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [3160, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get GitLab Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitLab Projects": {
      "main": [
        [
          {
            "node": "Loop Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Projects": {
      "main": [
        [],
        [
          {
            "node": "Get Reviewed MRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reviewed MRs": {
      "main": [
        [
          {
            "node": "Extract MRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract MRs": {
      "main": [
        [
          {
            "node": "Has MRs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has MRs?": {
      "main": [
        [
          {
            "node": "Loop MRs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No MRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No MRs": {
      "main": [
        [
          {
            "node": "Loop Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop MRs": {
      "main": [
        [],
        [
          {
            "node": "Get MR Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MR Notes": {
      "main": [
        [
          {
            "node": "Find AI Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find AI Notes": {
      "main": [
        [
          {
            "node": "Has AI Notes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has AI Notes?": {
      "main": [
        [
          {
            "node": "Loop AI Notes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No AI Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No AI Notes": {
      "main": [
        [
          {
            "node": "Loop MRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop AI Notes": {
      "main": [
        [],
        [
          {
            "node": "Register AI Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register AI Review": {
      "main": [
        [
          {
            "node": "Get Note Emojis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Note Emojis": {
      "main": [
        [
          {
            "node": "Filter Feedback Emojis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Feedback Emojis": {
      "main": [
        [
          {
            "node": "Has Feedback Emojis?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Feedback Emojis?": {
      "main": [
        [
          {
            "node": "Save Emoji Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Emojis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Emoji Feedback": {
      "main": [
        [
          {
            "node": "Loop AI Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Emojis": {
      "main": [
        [
          {
            "node": "Loop AI Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "gitlab-feedback-poller"
  },
  "pinData": {},
  "versionId": "2",
  "triggerCount": 0,
  "active": true
}
