docker-compose/n8n-workflows/gitlab-mr-review.json
{
  "name": "GitLab MR Code Review",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GITLAB_URL }}/api/v4/groups/{{ encodeURIComponent($env.GITLAB_GROUP) }}/merge_requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "state", "value": "opened" },
            { "name": "per_page", "value": "20" },
            { "name": "order_by", "value": "updated_at" },
            { "name": "sort", "value": "desc" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "get-mrs",
      "name": "Get Open MRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{GITLAB_CREDENTIAL_ID}}",
          "name": "GitLab Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Label 기반 필터링 (방식)\nconst mrs = $input.all().map(i => i.json);\n\nconst toReview = mrs.filter(mr => {\n  const labels = mr.labels || [];\n  \n  // 이미 진행 중인 리뷰 건너뛰기\n  const hasInProgress = labels.includes('ai-review::in-progress');\n  if (hasInProgress) return false;\n  \n  // 이미 리뷰한 SHA 확인\n  const reviewedSha = labels.find(l => l.startsWith('ai-review::sha:'))?.replace('ai-review::sha:', '');\n  if (reviewedSha === mr.sha) return false;\n  \n  // WIP/Draft 건너뛰기\n  if (mr.work_in_progress || mr.draft) return false;\n  \n  return true;\n});\n\nif (toReview.length === 0) return [];\n\n// 한 번에 하나씩 처리\nconst mr = toReview[0];\nreturn [{\n  json: {\n    mr_iid: mr.iid,\n    mr_title: mr.title,\n    mr_url: mr.web_url,\n    source_branch: mr.source_branch,\n    target_branch: mr.target_branch,\n    author: mr.author?.username || mr.author?.name,\n    project_id: mr.project_id,\n    sha: mr.sha,\n    description: mr.description || '',\n    reviewers: (mr.reviewers || []).map(r => r.username),\n    labels: mr.labels || []\n  }\n}];"
      },
      "id": "filter-mrs",
      "name": "Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GITLAB_URL }}/api/v4/projects/{{ $json.project_id }}/merge_requests/{{ $json.mr_iid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ add_labels: 'ai-review::in-progress', remove_labels: $json.labels.filter(l => l.startsWith('ai-review::')).join(',') || undefined }) }}",
        "options": {}
      },
      "id": "label-in-progress",
      "name": "Mark In Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{GITLAB_CREDENTIAL_ID}}",
          "name": "GitLab Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GITLAB_URL }}/api/v4/projects/{{ $('Filter').first().json.project_id }}/merge_requests/{{ $('Filter').first().json.mr_iid }}/changes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 30000 }
      },
      "id": "get-changes",
      "name": "Get Changes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{GITLAB_CREDENTIAL_ID}}",
          "name": "GitLab Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.GITLAB_URL }}/api/v4/projects/{{ $('Filter').first().json.project_id }}/merge_requests/{{ $('Filter').first().json.mr_iid }}/discussions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-discussions",
      "name": "Get Discussions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 450],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{GITLAB_CREDENTIAL_ID}}",
          "name": "GitLab Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// MR 정보, Changes, Discussions를 합쳐서 프롬프트 생성\nconst AI_MARKER = 'AI Code Review';\nconst mr = $('Filter').first().json;\nconst changesData = $('Get Changes').first().json;\nconst discussions = $('Get Discussions').all().map(i => i.json);\n\n// 변경된 파일 diff 요약\nconst changes = changesData.changes || [];\nlet diffSummary = '';\nfor (const change of changes.slice(0, 15)) {\n  diffSummary += `\\n### ${change.new_path}\\n`;\n  if (change.diff) {\n    // diff를 2000자로 제한\n    const truncatedDiff = change.diff.length > 2000 \n      ? change.diff.substring(0, 2000) + '\\n... (truncated)' \n      : change.diff;\n    diffSummary += '```diff\\n' + truncatedDiff + '\\n```\\n';\n  }\n}\n\n// Discussion 처리\nconst threads = [];\nfor (const d of discussions) {\n  const notes = d.notes || [];\n  if (notes.length === 0) continue;\n  \n  const isAI = n => (n.body || '').includes(AI_MARKER);\n  const isUser = n => !n.system && !isAI(n);\n  \n  // AI만 댓글 단 스레드는 건너뛰기\n  if (notes.some(isAI) && !notes.some(isUser)) continue;\n  \n  const thread = { notes: [], position: null };\n  for (const note of notes) {\n    if (note.system) continue;\n    thread.notes.push({\n      author: note.author?.username,\n      body: (note.body || '').slice(0, 500),\n      isAI: isAI(note)\n    });\n    if (note.type === 'DiffNote' && note.position && !thread.position) {\n      thread.position = {\n        file: note.position.new_path || note.position.old_path,\n        line: note.position.new_line || note.position.old_line\n      };\n    }\n  }\n  if (thread.notes.length > 0) threads.push(thread);\n}\n\n// 프롬프트 빌드\nlet prompt = `Review MR !${mr.mr_iid}: ${mr.mr_title}\\n\\n`;\nprompt += `**Branch**: \\`${mr.source_branch}\\` → \\`${mr.target_branch}\\`\\n`;\nprompt += `**Author**: ${mr.author}\\n`;\nprompt += `**URL**: ${mr.mr_url}\\n`;\n\nif (mr.description) {\n  prompt += `\\n**Description**:\\n${mr.description.slice(0, 1000)}\\n`;\n}\n\nprompt += `\\n## Code Changes\\n${diffSummary}`;\n\nif (threads.length > 0) {\n  prompt += '\\n\\n## Discussion Threads';\n  for (const thread of threads.slice(0, 5)) {\n    prompt += thread.position \n      ? `\\n\\n### \\`${thread.position.file}:${thread.position.line}\\`` \n      : '\\n\\n### General Discussion';\n    for (const n of thread.notes) {\n      prompt += `\\n- ${n.isAI ? 'AI' : `@${n.author}`}: \"${n.body}\"`;\n    }\n  }\n}\n\nreturn { json: { ...mr, formatted_prompt: prompt, has_discussions: threads.length > 0 } };"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 370]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/execute-with-routing",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.formatted_prompt, systemPrompt: 'You are a senior code reviewer. Review the merge request and provide:\\n1. verdict: \"approve\" (no issues), \"request_changes\" (blocking issues), or \"comment\" (suggestions only)\\n2. summary: 1-2 sentence summary in Korean\\n3. points: array of specific feedback points in Korean\\n4. gitlab_comment: formatted markdown comment for GitLab\\n\\nRespond in valid JSON format:\\n{\"verdict\": \"...\", \"summary\": \"...\", \"points\": [...], \"gitlab_comment\": \"...\"}', maxTurns: 10, channel: 'gitlab-review' }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "execute-claude",
      "name": "Execute Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 370],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-result",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1640, 370]
    },
    {
      "parameters": {
        "jsCode": "// Claude 응답 파싱\nconst mr = $('Build Prompt').item.json;\nconst result = $('Execute Claude').item.json;\nconst rawResult = result.result || '';\n\nlet review = {\n  verdict: 'comment',\n  summary: '리뷰 완료',\n  points: [],\n  gitlab_comment: '## AI Code Review\\n\\n' + rawResult\n};\n\n// JSON 응답 파싱 시도\ntry {\n  // JSON 블록 추출\n  const jsonMatch = rawResult.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    review = {\n      verdict: parsed.verdict || 'comment',\n      summary: parsed.summary || '리뷰 완료',\n      points: parsed.points || [],\n      gitlab_comment: parsed.gitlab_comment || ('## AI Code Review\\n\\n' + rawResult)\n    };\n  }\n} catch (e) {\n  // JSON 파싱 실패 시 원본 사용\n  console.log('JSON parse failed, using raw result');\n}\n\n// GitLab 코멘트 포맷팅\nconst verdictEmoji = {\n  approve: ':white_check_mark:',\n  request_changes: ':warning:',\n  comment: ':speech_balloon:'\n};\nconst emoji = verdictEmoji[review.verdict] || ':speech_balloon:';\n\nif (!review.gitlab_comment.startsWith('##')) {\n  review.gitlab_comment = `## ${emoji} AI Code Review\\n\\n${review.gitlab_comment}`;\n}\n\nreview.gitlab_comment += '\\n\\n---\\n_Generated by Claude Flow_';\n\nreturn { json: { mr, review, reviewers: mr.reviewers || [] } };"
      },
      "id": "parse-review",
      "name": "Parse Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 270]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GITLAB_URL }}/api/v4/projects/{{ $json.mr.project_id }}/merge_requests/{{ $json.mr.mr_iid }}/notes",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: $json.review.gitlab_comment }) }}",
        "options": {}
      },
      "id": "post-gitlab-comment",
      "name": "Post GitLab Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 270],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{GITLAB_CREDENTIAL_ID}}",
          "name": "GitLab Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Slack 메시지 빌드\nconst data = $('Parse Review').item.json;\nconst mr = data.mr;\nconst review = data.review;\n\nconst verdictEmoji = {\n  approve: ':white_check_mark:',\n  request_changes: ':warning:',\n  comment: ':speech_balloon:'\n};\nconst emoji = verdictEmoji[review.verdict] || ':speech_balloon:';\n\nconst header = `${emoji} <${mr.mr_url}|!${mr.mr_iid}> ${mr.mr_title}`;\nconst summary = review.summary;\nconst points = (review.points || []).slice(0, 5).map(p => `• ${p}`).join('\\n');\n\nlet message = header + '\\n' + summary;\nif (points) message += '\\n' + points;\n\nreturn { json: { message, mr, review } };"
      },
      "id": "build-slack-message",
      "name": "Build Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 270]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $env.SLACK_REVIEW_CHANNEL || 'general', text: $json.message }) }}",
        "options": {}
      },
      "id": "post-slack",
      "name": "Post Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 270],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GITLAB_URL }}/api/v4/projects/{{ $('Parse Review').item.json.mr.project_id }}/merge_requests/{{ $('Parse Review').item.json.mr.mr_iid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ add_labels: 'ai-review::done,ai-review::sha:' + $('Parse Review').item.json.mr.sha, remove_labels: 'ai-review::in-progress' }) }}",
        "options": {}
      },
      "id": "label-done",
      "name": "Mark Done",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 270],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{GITLAB_CREDENTIAL_ID}}",
          "name": "GitLab Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.GITLAB_URL }}/api/v4/projects/{{ $('Build Prompt').item.json.project_id }}/merge_requests/{{ $('Build Prompt').item.json.mr_iid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ add_labels: 'ai-review::failed', remove_labels: 'ai-review::in-progress' }) }}",
        "options": {}
      },
      "id": "label-failed",
      "name": "Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1840, 470],
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{GITLAB_CREDENTIAL_ID}}",
          "name": "GitLab Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $env.SLACK_REVIEW_CHANNEL || 'general', text: ':x: *MR Review Failed*\\n<' + $('Build Prompt').item.json.mr_url + '|!' + $('Build Prompt').item.json.mr_iid + '> ' + $('Build Prompt').item.json.mr_title + '\\n' + ($('Execute Claude').item.json.error || 'Unknown error') }) }}",
        "options": {}
      },
      "id": "notify-failure",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 470],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [[{ "node": "Get Open MRs", "type": "main", "index": 0 }]]
    },
    "Get Open MRs": {
      "main": [[{ "node": "Filter", "type": "main", "index": 0 }]]
    },
    "Filter": {
      "main": [[{ "node": "Mark In Progress", "type": "main", "index": 0 }]]
    },
    "Mark In Progress": {
      "main": [[
        { "node": "Get Changes", "type": "main", "index": 0 },
        { "node": "Get Discussions", "type": "main", "index": 0 }
      ]]
    },
    "Get Changes": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Get Discussions": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Execute Claude", "type": "main", "index": 0 }]]
    },
    "Execute Claude": {
      "main": [[{ "node": "Success?", "type": "main", "index": 0 }]]
    },
    "Success?": {
      "main": [
        [{ "node": "Parse Review", "type": "main", "index": 0 }],
        [{ "node": "Mark Failed", "type": "main", "index": 0 }]
      ]
    },
    "Parse Review": {
      "main": [[{ "node": "Post GitLab Comment", "type": "main", "index": 0 }]]
    },
    "Post GitLab Comment": {
      "main": [[{ "node": "Build Slack Message", "type": "main", "index": 0 }]]
    },
    "Build Slack Message": {
      "main": [[{ "node": "Post Slack", "type": "main", "index": 0 }]]
    },
    "Post Slack": {
      "main": [[{ "node": "Mark Done", "type": "main", "index": 0 }]]
    },
    "Mark Failed": {
      "main": [[{ "node": "Notify Failure", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
