docker-compose/n8n-workflows/slack-mention-handler.json
{
  "name": "Slack Mention Handler",
  "versionId": "mention-handler-v5",
  "meta": {
    "description": "Slack에서 @멘션 메시지와 장애 알람 봇 메시지를 처리합니다. 일반 질문, 명령어(/health 등), MR 리뷰 요청, 장애 알람을 분류하여 적절한 핸들러로 라우팅합니다."
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-event",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "slack-event"
    },
    {
      "parameters": {
        "jsCode": "// 메시지 유형 분류: command, mr-review, alert-bot, ticket-reaction, general, skip\nconst body = $input.item.json.body || {};\nconst eventType = body.eventType || '';\n\n// :ticket: 리액션 이벤트 처리 → Jira 이슈 생성\nif (eventType === 'REACTION_ADDED' && body.reaction === 'ticket') {\n  console.log('Ticket reaction detected:', JSON.stringify({ channel: body.channel, timestamp: body.timestamp, reaction: body.reaction }));\n  return { \n    json: { \n      ...body, \n      messageType: 'ticket-reaction',\n      targetChannel: body.channel,\n      targetMessageTs: body.timestamp,\n      reactionUser: body.user\n    } \n  };\n}\n\n// :hammer_and_wrench: 리액션 이벤트 처리 → 자동 수정 파이프라인\nif (eventType === 'REACTION_ADDED' && body.reaction === 'hammer_and_wrench') {\n  console.log('Auto-fix reaction detected:', JSON.stringify({ channel: body.channel, timestamp: body.timestamp, reaction: body.reaction }));\n  return { \n    json: { \n      ...body, \n      messageType: 'autofix-reaction',\n      targetChannel: body.channel,\n      targetMessageTs: body.timestamp,\n      reactionUser: body.user\n    } \n  };\n}\n\n// 그 외 리액션 이벤트는 스킵 (피드백 핸들러에서 처리)\nif (eventType.includes('REACTION')) {\n  return { json: { ...body, messageType: 'skip', skipReason: 'reaction event (not ticket)' } };\n}\n\n// 알람 봇 메시지 감지 (ALERT_BOT_MESSAGE 타입)\nif (eventType === 'ALERT_BOT_MESSAGE') {\n  const text = body.text || '';\n  // 에러/장애 키워드 확인\n  const errorKeywords = ['error', 'exception', 'failed', 'failure', 'critical', 'alert', '장애', '오류', '에러', '실패', 'Failure', 'ERROR', 'CRITICAL', 'WARNING'];\n  const hasErrorKeyword = errorKeywords.some(kw => text.toLowerCase().includes(kw.toLowerCase()));\n  \n  if (hasErrorKeyword) {\n    return { json: { ...body, messageType: 'alert-bot', isAlertBot: true, botId: body.botId } };\n  }\n  // 에러 키워드 없으면 스킵\n  return { json: { ...body, messageType: 'skip', skipReason: 'bot message without error keywords' } };\n}\n\nconst text = (body.text || '').replace(/<@[A-Z0-9]+>/gi, '').trim();\n\n// 빈 텍스트는 스킵\nif (!text) {\n  return { json: { ...body, messageType: 'skip', skipReason: 'empty text' } };\n}\n\n// 기본 결과 객체\nconst result = { ...body, messageType: 'general', isMrReview: false, isAlertBot: false };\n\n// 1. 명령어 체크 (/로 시작)\nif (text.charAt(0) === '/') {\n  result.messageType = 'command';\n  return { json: result };\n}\n\n// 2. MR 리뷰 요청 체크\nconst mrPatterns = [\n  /!([0-9]+)/,\n  /MR\\s*#?([0-9]+)/i,\n  /merge_requests?\\/([0-9]+)/i\n];\n\n// 프로젝트 힌트 추출\nconst projectPatterns = [\n  /\\[프로젝트:\\s*([^\\]]+)\\]/i,\n  /([a-z][a-z0-9-]*-server)/i,\n  /([a-z][a-z0-9-]+)\\s+!\\d+/i\n];\n\nlet projectHint = null;\nfor (const pattern of projectPatterns) {\n  const match = text.match(pattern);\n  if (match) {\n    projectHint = match[1].toLowerCase().trim();\n    break;\n  }\n}\n\n// MR 번호 추출\nlet mrNumber = null;\nfor (const pattern of mrPatterns) {\n  const match = text.match(pattern);\n  if (match) {\n    mrNumber = match[1];\n    break;\n  }\n}\n\nif (mrNumber) {\n  const reviewKeywords = ['리뷰', 'review', '검토', '봐줘', '확인', '코드리뷰', 'cr ', 'code review'];\n  const hasReviewKeyword = reviewKeywords.some(k => text.toLowerCase().includes(k.toLowerCase()));\n  \n  if (hasReviewKeyword) {\n    result.messageType = 'mr-review';\n    result.isMrReview = true;\n    result.mrNumber = mrNumber;\n    result.projectHint = projectHint;\n    return { json: result };\n  }\n}\n\nreturn { json: result };"
      },
      "id": "classify-message",
      "name": "Classify Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "notEquals",
              "value2": "command"
            }
          ]
        }
      },
      "id": "is-command",
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mr-review-check",
              "leftValue": "={{ $json.isMrReview }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-mr-review",
      "name": "Is MR Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/command",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Webhook').item.json.body.text, channel: $('Webhook').item.json.body.channel }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "execute-command",
      "name": "Execute Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: $json.response || '명령어 처리 중 오류가 발생했습니다.', threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-command-response",
      "name": "Send Command Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'hourglass_flowing_sand', remove: false }) }}"
      },
      "id": "add-loading-mr",
      "name": "Add Loading (MR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// MR 컨텍스트 조회 (scheduled-mr-review와 동일한 방식)\nconst classifyData = $('Classify Message').first().json;\nconst apiUrl = process.env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080';\n\nconst mrNumber = classifyData.mrNumber;\nlet project = classifyData.projectHint;\n\nif (!project) {\n  project = process.env.GITLAB_GROUP || 'team/project';\n}\n\nconsole.log('Fetching MR context:', project, mrNumber);\n\ntry {\n  const contextUrl = `${apiUrl}/api/v1/mr-review/context/${encodeURIComponent(project)}/${mrNumber}`;\n  const contextResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: contextUrl,\n    json: true,\n    timeout: 120000\n  });\n\n  if (!contextResponse.success || !contextResponse.context) {\n    return {\n      json: {\n        error: contextResponse.error || 'MR 컨텍스트 조회 실패',\n        mrNumber: mrNumber,\n        project: project\n      }\n    };\n  }\n\n  return {\n    json: {\n      mrNumber: mrNumber,\n      project: project,\n      mrContext: contextResponse.context,\n      mrTitle: contextResponse.mrTitle,\n      mrUrl: contextResponse.mrUrl,\n      issueCount: contextResponse.issueCount || 0,\n      fileCount: contextResponse.fileCount || 0\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      error: e.message,\n      mrNumber: mrNumber,\n      project: project\n    }\n  };\n}"
      },
      "id": "get-mr-context",
      "name": "Get MR Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "mr-context-ok",
      "name": "Context OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "jsCode": "// AI 리뷰 실행\nconst mrData = $input.item.json;\nconst apiUrl = process.env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080';\n\nconst reviewPrompt = `## MR 리뷰 요청\\n\\n**프로젝트**: ${mrData.project}\\n**MR**: !${mrData.mrNumber} - ${mrData.mrTitle || ''}\\n**URL**: ${mrData.mrUrl || ''}\\n\\n---\\n\\n${mrData.mrContext}\\n\\n---\\n\\n위 MR 분석 결과를 바탕으로 코드 리뷰를 작성해주세요.\\n\\n**리뷰 형식:**\\n### 요약\\n### 장점\\n### 개선 사항\\n### 전체 평가 (⭐/10)`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: apiUrl + '/api/v1/chat/execute',\n    body: {\n      messages: [{ role: 'user', content: reviewPrompt }],\n      projectId: mrData.project,\n      agentId: 'code-reviewer',\n      skipMrAnalysis: true,\n      source: 'slack'\n    },\n    json: true,\n    timeout: 600000\n  });\n\n  if (!response.success || !response.content) {\n    return { json: { ...mrData, error: response.error || 'AI 리뷰 실패' } };\n  }\n\n  return {\n    json: {\n      ...mrData,\n      aiReview: response.content,\n      reviewSuccess: true\n    }\n  };\n} catch (e) {\n  return { json: { ...mrData, error: e.message } };\n}"
      },
      "id": "execute-mr-review",
      "name": "Execute MR Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "jsCode": "// GitLab에 코멘트 작성\nconst mrData = $input.item.json;\nconst apiUrl = process.env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080';\n\nif (!mrData.reviewSuccess || mrData.error) {\n  return { json: mrData };\n}\n\nconst gitlabComment = `## 🤖 AI Code Review\\n\\n${mrData.aiReview}\\n\\n---\\n_Generated by Claude Flow_`;\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: apiUrl + '/api/v1/plugins/gitlab/execute',\n    body: {\n      command: 'mr-comment',\n      args: {\n        project: mrData.project,\n        mr_id: mrData.mrNumber,\n        comment: gitlabComment\n      }\n    },\n    json: true,\n    timeout: 30000\n  });\n  \n  // 라벨 적용\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: apiUrl + '/api/v1/plugins/gitlab/execute',\n    body: {\n      command: 'mr-add-label',\n      args: {\n        project: mrData.project,\n        mr_id: mrData.mrNumber,\n        label: 'ai-review::done'\n      }\n    },\n    json: true,\n    timeout: 10000\n  });\n} catch (e) {\n  console.log('GitLab comment error:', e.message);\n}\n\nreturn { json: mrData };"
      },
      "id": "post-gitlab-comment",
      "name": "Post GitLab Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'hourglass_flowing_sand', remove: true }) }}"
      },
      "id": "remove-loading-mr",
      "name": "Remove Loading (MR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: '✅ MR !' + $json.mrNumber + ' 리뷰 완료\\n\\n' + ($json.aiReview || '').substring(0, 2000) + ($json.aiReview && $json.aiReview.length > 2000 ? '\\n\\n_(GitLab에서 전체 리뷰 확인)_' : ''), threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-mr-response",
      "name": "Send MR Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'white_check_mark', remove: false }) }}"
      },
      "id": "add-success-mr",
      "name": "Add ✅ (MR)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: '❌ MR 리뷰 실패: ' + $json.error, threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-mr-error",
      "name": "Send MR Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'hourglass_flowing_sand', remove: false }) }}"
      },
      "id": "add-loading",
      "name": "Add Loading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/thread-history",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp, limit: 20 }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "get-thread-history",
      "name": "Get Thread History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 스레드 히스토리를 대화 형식으로 변환\nconst webhookBody = $('Webhook').item.json.body;\nconst historyResponse = $input.item.json;\n\nlet conversationHistory = [];\n\nif (historyResponse && historyResponse.success && historyResponse.messages && historyResponse.messages.length > 1) {\n  const previousMessages = historyResponse.messages.slice(0, -1);\n  conversationHistory = previousMessages.map(msg => ({\n    role: msg.isBot ? 'assistant' : 'user',\n    content: msg.text.replace(/<@[A-Z0-9]+>/g, '').trim(),\n    userName: msg.userName || msg.user\n  })).filter(msg => msg.content.length > 0);\n}\n\nreturn {\n  json: {\n    channel: webhookBody.channel,\n    text: webhookBody.text,\n    threadTs: webhookBody.threadTs || webhookBody.timestamp,\n    timestamp: webhookBody.timestamp,\n    user: webhookBody.user,\n    conversationHistory: conversationHistory\n  }\n};"
      },
      "id": "format-history",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/execute-with-routing",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.text, maxTurns: 50, conversationHistory: $json.conversationHistory, channel: $json.channel, threadTs: $json.threadTs, userId: $json.user, source: 'slack' }) }}",
        "options": { "timeout": 900000 }
      },
      "id": "execute-claude",
      "name": "Execute Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'hourglass_flowing_sand', remove: true }) }}"
      },
      "id": "remove-loading",
      "name": "Remove Loading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2050, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: ($('Execute Claude').item.json.projectId ? '📁 [' + $('Execute Claude').item.json.projectId + '] ' : '') + ($('Execute Claude').item.json.routedAgent ? '🤖 [' + $('Execute Claude').item.json.routedAgent + ']\\n' : '') + ($('Execute Claude').item.json.result || $('Execute Claude').item.json.error || '응답이 없습니다.'), threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: '❌ 오류가 발생했습니다: ' + ($('Execute Claude').item.json.error || 'Unknown error'), threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-error",
      "name": "Send Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ ($env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080') + '/api/v1/executions/' + $('Execute Claude').item.json.requestId + '/reply-ts' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replyTs: $('Send Reply').item.json.timestamp }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "save-reply-ts",
      "name": "Save Reply TS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'white_check_mark', remove: false }) }}"
      },
      "id": "add-success-reaction",
      "name": "Add ✅",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'x', remove: false }) }}"
      },
      "id": "add-error-reaction",
      "name": "Add ❌",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Send Reply').item.json.timestamp, emoji: 'thumbsup', remove: false }) }}"
      },
      "id": "add-thumbsup",
      "name": "Add 👍",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2850, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Send Reply').item.json.timestamp, emoji: 'thumbsdown', remove: false }) }}"
      },
      "id": "add-thumbsdown",
      "name": "Add 👎",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2850, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "skip",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "skip-check",
      "name": "Not Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [550, 300]
    },
    {
      "parameters": {},
      "id": "skip-noop",
      "name": "Skip (Reaction/Empty)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 450]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-bot-check",
              "leftValue": "={{ $json.isAlertBot }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-alert-bot",
      "name": "Is Alert Bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/projects/by-alert-channel/{{ $json.channel }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "lookup-alert-project",
      "name": "Lookup Alert Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, -100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 프로젝트 조회 결과 병합\nconst projectResponse = $input.item.json;\nconst alertData = $('Classify Message').item.json;\n\n// 프로젝트가 없으면 (404 또는 에러) 스킵\nconst hasProject = projectResponse.projectId != null;\n\nreturn {\n  json: {\n    shouldProcess: hasProject,\n    channel: alertData.channel,\n    botId: alertData.botId,\n    text: alertData.text,\n    messageTs: alertData.timestamp,\n    threadTs: alertData.threadTs || alertData.timestamp,\n    // 프로젝트 정보\n    projectId: projectResponse.projectId,\n    projectName: projectResponse.projectName,\n    jiraProject: projectResponse.jiraProject,\n    gitlabPath: projectResponse.gitlabPath,\n    workingDirectory: projectResponse.workingDirectory,\n    defaultBranch: projectResponse.defaultBranch,\n    envBranchMapping: projectResponse.envBranchMapping || {},\n    reason: hasProject ? null : 'Channel not mapped to any project'\n  }\n};"
      },
      "id": "merge-alert-project",
      "name": "Merge Alert Project",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, -100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldProcess }}",
              "value2": true
            }
          ]
        }
      },
      "id": "alert-should-process",
      "name": "Has Project?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/chat/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messages: [{ role: 'user', content: '다음 장애 알람 메시지를 분석해주세요:\\n\\n## 프로젝트 정보\\n- 프로젝트: ' + ($json.projectName || 'Unknown') + ' (' + ($json.projectId || 'unknown') + ')\\n- Jira 프로젝트: ' + ($json.jiraProject || 'PROJ') + '\\n\\n## 알람 메시지\\n```\\n' + $json.text + '\\n```\\n\\n다음 JSON 형식으로만 응답해주세요:\\n```json\\n{\\n  \"isActionable\": true/false,\\n  \"environment\": \"메시지 맨 앞의 [env] 형식에서 추출 (int/stage/real 등, 없으면 null)\",\\n  \"severity\": \"CRITICAL/HIGH/MEDIUM/LOW\",\\n  \"summary\": \"Jira 이슈 제목 (50자 이내)\",\\n  \"description\": \"상세 설명\",\\n  \"suggestedFix\": \"수정 제안 (있으면)\",\\n  \"errorType\": \"에러 타입 (Kafka, NullPointer, Timeout 등)\"\\n}\\n```\\n\\n참고: environment는 메시지 시작 부분의 [stage], [int], [real] 등에서 추출합니다.' }], model: 'haiku', source: 'alert', maxTurns: 5, skipRouting: true }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "claude-analyze-alert",
      "name": "Claude Analyze Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, -150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconsole.log('Raw response:', JSON.stringify(response, null, 2));\n\n// HTTP Request 노드는 응답을 그대로 반환\nconst text = response.content || response.response || response.output || '';\nconsole.log('Extracted text:', text.substring(0, 200));\n\n// JSON 추출\nconst jsonMatch = text.match(/```json\\s*([\\s\\S]*?)\\s*```/) || text.match(/\\{[\\s\\S]*\\}/);\nconsole.log('JSON match found:', !!jsonMatch);\nlet analysis = {};\n\ntry {\n  const jsonStr = jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : text;\n  console.log('Parsing JSON:', jsonStr.substring(0, 100));\n  analysis = JSON.parse(jsonStr.trim());\n  console.log('Parsed analysis:', JSON.stringify(analysis));\n} catch (e) {\n  console.log('Parse error:', e.message);\n  analysis = {\n    isActionable: false,\n    error: 'Failed to parse analysis: ' + e.message\n  };\n}\n\n// 이전 노드의 메시지 및 프로젝트 정보 가져오기\nconst projectData = $('Merge Alert Project').item.json;\n\n// 환경 기반 브랜치 결정 (envBranchMapping 사용)\nconst environment = analysis.environment?.toLowerCase() || null;\nconst envBranchMapping = projectData.envBranchMapping || {};\nconst targetBranch = environment ? (envBranchMapping[environment] || projectData.defaultBranch || 'develop') : (projectData.defaultBranch || 'develop');\nconsole.log('Environment:', environment, 'Target branch:', targetBranch);\n\nreturn {\n  json: {\n    ...analysis,\n    environment: environment,\n    targetBranch: targetBranch,\n    channel: projectData.channel,\n    messageTs: projectData.messageTs,\n    threadTs: projectData.threadTs,\n    originalText: projectData.text,\n    // 프로젝트 정보 전달\n    projectId: projectData.projectId,\n    projectName: projectData.projectName,\n    jiraProject: projectData.jiraProject,\n    gitlabPath: projectData.gitlabPath,\n    workingDirectory: projectData.workingDirectory,\n    defaultBranch: projectData.defaultBranch,\n    envBranchMapping: envBranchMapping\n  }\n};"
      },
      "id": "parse-alert-analysis",
      "name": "Parse Alert Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, -150]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isActionable }}",
              "value2": true
            }
          ]
        }
      },
      "id": "alert-is-actionable",
      "name": "Is Actionable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, -150]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, thread_ts: $json.threadTs, text: ':rotating_light: *장애 알람 분석 완료*\\n\\n*환경:* ' + ($json.environment ? '[' + $json.environment.toUpperCase() + '] → `' + $json.targetBranch + '` 브랜치' : '미지정 → `' + ($json.targetBranch || 'develop') + '` 브랜치') + '\\n*심각도:* ' + ($json.severity || 'UNKNOWN') + '\\n*프로젝트:* ' + ($json.projectName || 'Unknown') + ' (`' + ($json.projectId || 'unknown') + '`)\\n*Jira:* ' + ($json.jiraProject || 'N/A') + '\\n*에러 타입:* ' + ($json.errorType || '분석 중') + '\\n\\n*제목:* ' + ($json.summary || '알람 분석 결과') + '\\n\\n*설명:*\\n' + ($json.description || '상세 내용 없음') + '\\n\\n' + ($json.suggestedFix ? '*수정 제안:*\\n' + $json.suggestedFix : '') + '\\n\\n---\\n:ticket: Jira 이슈 생성 → :ticket: 리액션 추가\\n:rocket: 자동 수정 시작 → :hammer_and_wrench: 리액션 추가' }) }}"
      },
      "id": "send-alert-analysis",
      "name": "Send Alert Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 액션 불필요 또는 분석 실패 로깅\nconst data = $input.item.json;\nconsole.log('Alert not actionable or analysis failed:', data);\nreturn { json: { skipped: true, reason: data.error || 'Not actionable', channel: data.channel } };"
      },
      "id": "alert-not-actionable",
      "name": "Alert Not Actionable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, -50]
    },
    {
      "parameters": {
        "jsCode": "// 프로젝트 미등록 채널 로깅\nconst data = $input.item.json;\nconsole.log('Alert channel not mapped to project:', data.channel);\nreturn { json: { skipped: true, reason: 'Channel not mapped to project', channel: data.channel } };"
      },
      "id": "alert-no-project",
      "name": "No Project Mapped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ticket-reaction-check",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "ticket-reaction",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-ticket-reaction",
      "name": "Is Ticket Reaction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message-content",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.targetChannel, timestamp: $json.targetMessageTs }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "get-reacted-message",
      "name": "Get Reacted Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 리액션된 메시지에서 분석 데이터 추출\nconst messageResponse = $input.item.json;\nconst classifyData = $('Classify Message').item.json;\n\nconsole.log('Get reacted message response:', JSON.stringify(messageResponse, null, 2));\n\nif (!messageResponse.success || !messageResponse.text) {\n  return {\n    json: {\n      error: 'Failed to get message content',\n      channel: classifyData.targetChannel,\n      threadTs: classifyData.targetMessageTs\n    }\n  };\n}\n\nconst text = messageResponse.text;\n\n// 분석 결과 메시지 파싱\n// 형식: *심각도:* HIGH, *프로젝트:* Name (`id`), *제목:* ...\nconst severityMatch = text.match(/\\*심각도:\\*\\s*(\\w+)/);\nconst projectMatch = text.match(/\\*프로젝트:\\*\\s*([^(]+)\\s*\\(`([^`]+)`\\)/);\nconst jiraMatch = text.match(/\\*Jira:\\*\\s*(\\w+)/);\nconst errorTypeMatch = text.match(/\\*에러 타입:\\*\\s*([^\\n]+)/);\nconst summaryMatch = text.match(/\\*제목:\\*\\s*([^\\n]+)/);\nconst descMatch = text.match(/\\*설명:\\*\\n([\\s\\S]*?)(?=\\n\\n\\*수정 제안:|\\n---)/); \nconst fixMatch = text.match(/\\*수정 제안:\\*\\n([\\s\\S]*?)(?=\\n---|$)/);\n\nconst severity = severityMatch ? severityMatch[1].trim() : 'MEDIUM';\nconst projectName = projectMatch ? projectMatch[1].trim() : 'Unknown';\nconst projectId = projectMatch ? projectMatch[2].trim() : null;\nconst jiraProject = jiraMatch ? jiraMatch[1].trim() : 'PROJ';\nconst errorType = errorTypeMatch ? errorTypeMatch[1].trim() : 'Unknown';\nconst summary = summaryMatch ? summaryMatch[1].trim() : '장애 알람';\nconst description = descMatch ? descMatch[1].trim() : text;\nconst suggestedFix = fixMatch ? fixMatch[1].trim() : '';\n\n// 심각도에 따른 Jira 우선순위 ID 매핑 (Jira는 우선순위 ID를 사용)\nconst priorityMap = {\n  'CRITICAL': '10000',  // Highest\n  'HIGH': '10001',       // High\n  'MEDIUM': '10002',     // Medium\n  'LOW': '10003'         // Low\n};\n\nreturn {\n  json: {\n    // Jira 이슈 생성용 데이터\n    jiraProject: jiraProject,\n    summary: `[${errorType}] ${summary}`,\n    description: `h2. 장애 알람 분석\\n\\n*심각도:* ${severity}\\n*에러 타입:* ${errorType}\\n*프로젝트:* ${projectName}\\n\\nh2. 설명\\n${description}\\n\\n${suggestedFix ? 'h2. 수정 제안\\n' + suggestedFix : ''}`,\n    priority: priorityMap[severity] || 'Medium',\n    labels: ['auto-created', 'alert-analysis'],\n    // 컨텍스트 정보\n    channel: classifyData.targetChannel,\n    threadTs: classifyData.targetMessageTs,\n    reactionUser: classifyData.reactionUser,\n    projectId: projectId,\n    originalText: text\n  }\n};"
      },
      "id": "parse-analysis-for-ticket",
      "name": "Parse Analysis for Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/plugins/jira/issues",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ project: $json.jiraProject, summary: $json.summary, description: $json.description, issueType: 'Bug', labels: $json.labels }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "create-jira-issue",
      "name": "Create Jira Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "jira-created-ok",
      "name": "Jira Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1550, 50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Parse Analysis for Ticket').item.json.channel, thread_ts: $('Parse Analysis for Ticket').item.json.threadTs, text: ':ticket: *Jira 이슈가 생성되었습니다*\\n\\n*이슈:* <' + ($json.data?.url || 'https://jira.example.com/browse/' + ($json.data?.key || 'UNKNOWN')) + '|' + ($json.data?.key || 'N/A') + '>\\n*제목:* ' + ($('Parse Analysis for Ticket').item.json.summary || 'N/A') + '\\n*우선순위:* ' + ($('Parse Analysis for Ticket').item.json.priority || 'N/A') }) }}"
      },
      "id": "send-ticket-created",
      "name": "Send Ticket Created",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Parse Analysis for Ticket').item.json.channel, timestamp: $('Parse Analysis for Ticket').item.json.threadTs, emoji: 'white_check_mark', remove: false }) }}"
      },
      "id": "add-jira-success-reaction",
      "name": "Add ✅ (Jira)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1950, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Parse Analysis for Ticket').item.json.channel, thread_ts: $('Parse Analysis for Ticket').item.json.threadTs, text: ':x: *Jira 이슈 생성 실패*\\n\\n오류: ' + ($json.error || $json.message || 'Unknown error') }) }}"
      },
      "id": "send-jira-error",
      "name": "Send Jira Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "autofix-reaction-check",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "autofix-reaction",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-autofix-reaction",
      "name": "Is Auto-Fix Reaction?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [950, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message-content",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.targetChannel, timestamp: $json.targetMessageTs }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "get-message-for-autofix",
      "name": "Get Message for Auto-Fix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, -50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 리액션된 메시지에서 분석 데이터 추출 (자동 수정 파이프라인용)\nconst messageResponse = $input.item.json;\nconst classifyData = $('Classify Message').item.json;\n\nconsole.log('Get message for autofix response:', JSON.stringify(messageResponse, null, 2));\n\nif (!messageResponse.success || !messageResponse.text) {\n  return {\n    json: {\n      error: 'Failed to get message content',\n      channel: classifyData.targetChannel,\n      threadTs: classifyData.targetMessageTs\n    }\n  };\n}\n\nconst text = messageResponse.text;\n\n// 분석 결과 메시지 파싱\nconst envMatch = text.match(/\\*환경:\\*\\s*(?:\\[(\\w+)\\])?[^`]*`([^`]+)`/);\nconst severityMatch = text.match(/\\*심각도:\\*\\s*(\\w+)/);\nconst projectMatch = text.match(/\\*프로젝트:\\*\\s*([^(]+)\\s*\\(`([^`]+)`\\)/);\nconst jiraMatch = text.match(/\\*Jira:\\*\\s*(\\w+)/);\nconst errorTypeMatch = text.match(/\\*에러 타입:\\*\\s*([^\\n]+)/);\nconst summaryMatch = text.match(/\\*제목:\\*\\s*([^\\n]+)/);\nconst descMatch = text.match(/\\*설명:\\*\\n([\\s\\S]*?)(?=\\n\\n\\*수정 제안:|\\n---)/); \nconst fixMatch = text.match(/\\*수정 제안:\\*\\n([\\s\\S]*?)(?=\\n---|$)/);\n\nconst environment = envMatch ? envMatch[1]?.toLowerCase() : null;\nconst targetBranch = envMatch ? envMatch[2]?.trim() : null;\nconst severity = severityMatch ? severityMatch[1].trim() : 'MEDIUM';\nconst projectName = projectMatch ? projectMatch[1].trim() : 'Unknown';\nconst projectId = projectMatch ? projectMatch[2].trim() : null;\nconst jiraProject = jiraMatch ? jiraMatch[1].trim() : 'PROJ';\nconst errorType = errorTypeMatch ? errorTypeMatch[1].trim() : 'Unknown';\nconst summary = summaryMatch ? summaryMatch[1].trim() : '장애 알람';\nconst description = descMatch ? descMatch[1].trim() : text;\nconst suggestedFix = fixMatch ? fixMatch[1].trim() : '';\n\nconsole.log('Parsed environment:', environment, 'targetBranch:', targetBranch);\n\nreturn {\n  json: {\n    // 파이프라인으로 전달할 데이터\n    projectId: projectId,\n    projectName: projectName,\n    jiraProject: jiraProject,\n    summary: `[${errorType}] ${summary}`,\n    description: description,\n    severity: severity,\n    suggestedFix: suggestedFix,\n    errorType: errorType,\n    environment: environment,\n    targetBranch: targetBranch,\n    // Slack 정보\n    channel: classifyData.targetChannel,\n    threadTs: classifyData.targetMessageTs,\n    userId: classifyData.reactionUser\n  }\n};"
      },
      "id": "parse-for-autofix",
      "name": "Parse for Auto-Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, -50]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/projects/{{ $json.projectId }}",
        "options": { "timeout": 10000 }
      },
      "id": "lookup-project-for-autofix",
      "name": "Lookup Project for Auto-Fix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1550, -50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 파싱된 데이터와 프로젝트 정보 병합\nconst parseData = $('Parse for Auto-Fix').item.json;\nconst projectResponse = $input.item.json;\n\n// 프로젝트 정보 추출\nconst project = projectResponse.data || projectResponse;\nconst gitlabPath = project.gitlabPath || null;\nconst workingDirectory = project.workingDirectory || `/workspace/${parseData.projectId}`;\nconst envBranchMapping = project.envBranchMapping || {};\n\n// 환경 기반 브랜치 결정: 파싱된 targetBranch > envBranchMapping > defaultBranch\nconst env = parseData.environment?.toLowerCase();\nconst targetBranch = parseData.targetBranch || (env ? envBranchMapping[env] : null) || project.defaultBranch || 'develop';\n\nconsole.log('Auto-fix environment:', env, 'targetBranch:', targetBranch);\n\nreturn {\n  json: {\n    ...parseData,\n    gitlabPath,\n    workingDirectory,\n    defaultBranch: targetBranch,\n    environment: env\n  }\n};"
      },
      "id": "merge-project-for-autofix",
      "name": "Merge Project for Auto-Fix",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, -50]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_URL || 'http://127.0.0.1:5678' }}/webhook/alert-pipeline",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 30000 }
      },
      "id": "trigger-autofix-pipeline",
      "name": "Trigger Auto-Fix Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1950, -50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Merge Project for Auto-Fix').item.json.channel, thread_ts: $('Merge Project for Auto-Fix').item.json.threadTs, text: ':hammer_and_wrench: *자동 수정 파이프라인이 시작되었습니다*\\n\\n프로젝트: ' + ($('Merge Project for Auto-Fix').item.json.projectName || 'Unknown') + '\\nGitLab: ' + ($('Merge Project for Auto-Fix').item.json.gitlabPath || 'N/A') + '\\nJira: ' + ($('Merge Project for Auto-Fix').item.json.jiraProject || 'N/A') + '\\n\\n진행 상황은 스레드에서 확인하세요.' }) }}"
      },
      "id": "notify-autofix-started",
      "name": "Notify Auto-Fix Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2150, -50],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Classify Message", "type": "main", "index": 0 }]]
    },
    "Classify Message": {
      "main": [[{ "node": "Not Skip?", "type": "main", "index": 0 }]]
    },
    "Not Skip?": {
      "main": [
        [{ "node": "Is Ticket Reaction?", "type": "main", "index": 0 }],
        [{ "node": "Skip (Reaction/Empty)", "type": "main", "index": 0 }]
      ]
    },
    "Is Ticket Reaction?": {
      "main": [
        [{ "node": "Get Reacted Message", "type": "main", "index": 0 }],
        [{ "node": "Is Auto-Fix Reaction?", "type": "main", "index": 0 }]
      ]
    },
    "Is Auto-Fix Reaction?": {
      "main": [
        [{ "node": "Get Message for Auto-Fix", "type": "main", "index": 0 }],
        [{ "node": "Is Alert Bot?", "type": "main", "index": 0 }]
      ]
    },
    "Get Message for Auto-Fix": {
      "main": [[{ "node": "Parse for Auto-Fix", "type": "main", "index": 0 }]]
    },
    "Parse for Auto-Fix": {
      "main": [[{ "node": "Lookup Project for Auto-Fix", "type": "main", "index": 0 }]]
    },
    "Lookup Project for Auto-Fix": {
      "main": [[{ "node": "Merge Project for Auto-Fix", "type": "main", "index": 0 }]]
    },
    "Merge Project for Auto-Fix": {
      "main": [[{ "node": "Trigger Auto-Fix Pipeline", "type": "main", "index": 0 }]]
    },
    "Trigger Auto-Fix Pipeline": {
      "main": [[{ "node": "Notify Auto-Fix Started", "type": "main", "index": 0 }]]
    },
    "Get Reacted Message": {
      "main": [[{ "node": "Parse Analysis for Ticket", "type": "main", "index": 0 }]]
    },
    "Parse Analysis for Ticket": {
      "main": [[{ "node": "Create Jira Issue", "type": "main", "index": 0 }]]
    },
    "Create Jira Issue": {
      "main": [[{ "node": "Jira Created?", "type": "main", "index": 0 }]]
    },
    "Jira Created?": {
      "main": [
        [{ "node": "Send Ticket Created", "type": "main", "index": 0 }],
        [{ "node": "Send Jira Error", "type": "main", "index": 0 }]
      ]
    },
    "Send Ticket Created": {
      "main": [[{ "node": "Add ✅ (Jira)", "type": "main", "index": 0 }]]
    },
    "Is Alert Bot?": {
      "main": [
        [{ "node": "Lookup Alert Project", "type": "main", "index": 0 }],
        [{ "node": "Is Command?", "type": "main", "index": 0 }]
      ]
    },
    "Lookup Alert Project": {
      "main": [[{ "node": "Merge Alert Project", "type": "main", "index": 0 }]]
    },
    "Merge Alert Project": {
      "main": [[{ "node": "Has Project?", "type": "main", "index": 0 }]]
    },
    "Has Project?": {
      "main": [
        [{ "node": "Claude Analyze Alert", "type": "main", "index": 0 }],
        [{ "node": "No Project Mapped", "type": "main", "index": 0 }]
      ]
    },
    "Claude Analyze Alert": {
      "main": [[{ "node": "Parse Alert Analysis", "type": "main", "index": 0 }]]
    },
    "Parse Alert Analysis": {
      "main": [[{ "node": "Is Actionable?", "type": "main", "index": 0 }]]
    },
    "Is Actionable?": {
      "main": [
        [{ "node": "Send Alert Analysis", "type": "main", "index": 0 }],
        [{ "node": "Alert Not Actionable", "type": "main", "index": 0 }]
      ]
    },
    "Is Command?": {
      "main": [
        [{ "node": "Is MR Review?", "type": "main", "index": 0 }],
        [{ "node": "Execute Command", "type": "main", "index": 0 }]
      ]
    },
    "Is MR Review?": {
      "main": [
        [{ "node": "Add Loading (MR)", "type": "main", "index": 0 }],
        [{ "node": "Add Loading", "type": "main", "index": 0 }]
      ]
    },
    "Execute Command": {
      "main": [[{ "node": "Send Command Response", "type": "main", "index": 0 }]]
    },
    "Add Loading (MR)": {
      "main": [[{ "node": "Get MR Context", "type": "main", "index": 0 }]]
    },
    "Get MR Context": {
      "main": [[{ "node": "Context OK?", "type": "main", "index": 0 }]]
    },
    "Context OK?": {
      "main": [
        [{ "node": "Execute MR Review", "type": "main", "index": 0 }],
        [{ "node": "Send MR Error", "type": "main", "index": 0 }]
      ]
    },
    "Execute MR Review": {
      "main": [[{ "node": "Post GitLab Comment", "type": "main", "index": 0 }]]
    },
    "Post GitLab Comment": {
      "main": [[{ "node": "Remove Loading (MR)", "type": "main", "index": 0 }]]
    },
    "Remove Loading (MR)": {
      "main": [[{ "node": "Send MR Response", "type": "main", "index": 0 }]]
    },
    "Send MR Response": {
      "main": [[{ "node": "Add ✅ (MR)", "type": "main", "index": 0 }]]
    },
    "Add Loading": {
      "main": [[{ "node": "Get Thread History", "type": "main", "index": 0 }]]
    },
    "Get Thread History": {
      "main": [[{ "node": "Format History", "type": "main", "index": 0 }]]
    },
    "Format History": {
      "main": [[{ "node": "Execute Claude", "type": "main", "index": 0 }]]
    },
    "Execute Claude": {
      "main": [[{ "node": "Remove Loading", "type": "main", "index": 0 }]]
    },
    "Remove Loading": {
      "main": [[{ "node": "Success?", "type": "main", "index": 0 }]]
    },
    "Success?": {
      "main": [
        [{ "node": "Send Reply", "type": "main", "index": 0 }],
        [{ "node": "Send Error", "type": "main", "index": 0 }]
      ]
    },
    "Send Reply": {
      "main": [[{ "node": "Save Reply TS", "type": "main", "index": 0 }]]
    },
    "Save Reply TS": {
      "main": [[{ "node": "Add ✅", "type": "main", "index": 0 }]]
    },
    "Send Error": {
      "main": [[{ "node": "Add ❌", "type": "main", "index": 0 }]]
    },
    "Add ✅": {
      "main": [[
        { "node": "Add 👍", "type": "main", "index": 0 },
        { "node": "Add 👎", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
