docker-compose/n8n-workflows/slack-slash-command.json
{
  "name": "Slack Slash Command Handler",
  "versionId": "slash-command-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/slash-command",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Slack 슬래시 커맨드 파싱\nconst body = $input.item.json.body;\n\n// URL encoded form data를 파싱\nconst params = {};\nif (typeof body === 'string') {\n  body.split('&').forEach(pair => {\n    const [key, value] = pair.split('=');\n    params[decodeURIComponent(key)] = decodeURIComponent(value || '').replace(/\\+/g, ' ');\n  });\n} else {\n  Object.assign(params, body);\n}\n\nconst command = params.command || '/claude';\nconst text = params.text || '';\nconst userId = params.user_id || '';\nconst userName = params.user_name || '';\nconst channelId = params.channel_id || '';\nconst responseUrl = params.response_url || '';\nconst triggerId = params.trigger_id || '';\n\n// 명령어 파싱\nconst parts = text.trim().split(/\\s+/);\nconst subCommand = parts[0]?.toLowerCase() || 'help';\nconst args = parts.slice(1).join(' ');\n\nreturn {\n  json: {\n    command,\n    subCommand,\n    args,\n    text,\n    userId,\n    userName,\n    channelId,\n    responseUrl,\n    triggerId\n  }\n};"
      },
      "id": "parse-command",
      "name": "Parse Slash Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: '처리 중...' }) }}",
        "options": {}
      },
      "id": "ack-response",
      "name": "Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subCommand }}",
              "operation": "equals",
              "value2": "help"
            }
          ]
        }
      },
      "id": "is-help",
      "name": "Is Help?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slash Command').item.json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ response_type: 'ephemeral', blocks: [ { type: 'header', text: { type: 'plain_text', text: 'Claude Flow 도움말', emoji: true } }, { type: 'section', text: { type: 'mrkdwn', text: '*사용 가능한 명령어:*\\n• `/claude ask <질문>` - AI에게 질문\\n• `/claude review <코드>` - 코드 리뷰\\n• `/claude fix <설명>` - 버그 수정\\n• `/claude gitlab mrs` - GitLab MR 목록\\n• `/claude jira my` - 내 Jira 이슈\\n• `/claude project set <id>` - 프로젝트 설정\\n• `/claude stats` - 사용 통계\\n• `/claude help` - 도움말' } }, { type: 'context', elements: [{ type: 'mrkdwn', text: '_Powered by Claude Flow_' }] } ] }) }}",
        "options": {}
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subCommand }}",
              "operation": "equals",
              "value2": "ask"
            }
          ]
        }
      },
      "id": "is-ask",
      "name": "Is Ask?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/execute-with-routing",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $('Parse Slash Command').item.json.args, channel: $('Parse Slash Command').item.json.channelId, userId: $('Parse Slash Command').item.json.userId }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "execute-ask",
      "name": "Execute Ask",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slash Command').item.json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ response_type: 'in_channel', blocks: [ { type: 'section', text: { type: 'mrkdwn', text: $json.result || $json.error || 'No response' } }, { type: 'context', elements: [{ type: 'mrkdwn', text: '_Agent: ' + ($json.routedAgent || 'general') + '_' }] } ] }) }}",
        "options": {}
      },
      "id": "send-ask-response",
      "name": "Send Ask Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1550, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subCommand }}",
              "operation": "equals",
              "value2": "stats"
            }
          ]
        }
      },
      "id": "is-stats",
      "name": "Is Stats?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/stats",
        "options": {}
      },
      "id": "fetch-stats",
      "name": "Fetch Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slash Command').item.json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ response_type: 'ephemeral', blocks: [ { type: 'header', text: { type: 'plain_text', text: 'Claude Flow 통계', emoji: true } }, { type: 'section', fields: [ { type: 'mrkdwn', text: '*총 실행:*\\n' + $json.totalExecutions }, { type: 'mrkdwn', text: '*성공률:*\\n' + ($json.successRate * 100).toFixed(1) + '%' }, { type: 'mrkdwn', text: '*총 토큰:*\\n' + $json.totalTokens.toLocaleString() }, { type: 'mrkdwn', text: '*평균 시간:*\\n' + ($json.avgDurationMs / 1000).toFixed(1) + 's' }, { type: 'mrkdwn', text: '*👍:*\\n' + $json.thumbsUp }, { type: 'mrkdwn', text: '*👎:*\\n' + $json.thumbsDown } ] } ] }) }}",
        "options": {}
      },
      "id": "send-stats",
      "name": "Send Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1550, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subCommand }}",
              "operation": "equals",
              "value2": "gitlab"
            }
          ]
        }
      },
      "id": "is-gitlab",
      "name": "Is GitLab?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 650]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/plugins/gitlab/mrs",
        "options": {}
      },
      "id": "fetch-gitlab-mrs",
      "name": "Fetch GitLab MRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 650],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst responseUrl = $('Parse Slash Command').item.json.responseUrl;\n\nlet mrList = '';\nif (result.success && result.data) {\n  for (const mr of result.data.slice(0, 5)) {\n    mrList += `• <${mr.web_url}|!${mr.iid}> ${mr.title} (by ${mr.author})\\n`;\n  }\n} else {\n  mrList = result.error || 'No MRs found';\n}\n\nreturn {\n  json: {\n    responseUrl,\n    body: {\n      response_type: 'ephemeral',\n      blocks: [\n        {\n          type: 'header',\n          text: { type: 'plain_text', text: 'GitLab Open MRs', emoji: true }\n        },\n        {\n          type: 'section',\n          text: { type: 'mrkdwn', text: mrList || 'No open MRs' }\n        }\n      ]\n    }\n  }\n};"
      },
      "id": "format-gitlab",
      "name": "Format GitLab Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 650]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "send-gitlab",
      "name": "Send GitLab Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 650],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.subCommand }}",
              "operation": "equals",
              "value2": "jira"
            }
          ]
        }
      },
      "id": "is-jira",
      "name": "Is Jira?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 800]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/plugins/jira/my-issues",
        "options": {}
      },
      "id": "fetch-jira-issues",
      "name": "Fetch Jira Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 800],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.item.json;\nconst responseUrl = $('Parse Slash Command').item.json.responseUrl;\n\nlet issueList = '';\nif (result.success && result.data) {\n  for (const issue of result.data.slice(0, 5)) {\n    const status = issue.status || 'Unknown';\n    issueList += `• <${issue.url}|${issue.key}> ${issue.summary} [${status}]\\n`;\n  }\n} else {\n  issueList = result.error || 'No issues found';\n}\n\nreturn {\n  json: {\n    responseUrl,\n    body: {\n      response_type: 'ephemeral',\n      blocks: [\n        {\n          type: 'header',\n          text: { type: 'plain_text', text: '내 Jira 이슈', emoji: true }\n        },\n        {\n          type: 'section',\n          text: { type: 'mrkdwn', text: issueList || 'No assigned issues' }\n        }\n      ]\n    }\n  }\n};"
      },
      "id": "format-jira",
      "name": "Format Jira Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "send-jira",
      "name": "Send Jira Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 800],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Slash Command').item.json.responseUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ response_type: 'ephemeral', text: '알 수 없는 명령어입니다. `/claude help`를 입력하여 사용 가능한 명령어를 확인하세요.' }) }}",
        "options": {}
      },
      "id": "send-unknown",
      "name": "Send Unknown Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 950],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Parse Slash Command", "type": "main", "index": 0 }]
      ]
    },
    "Parse Slash Command": {
      "main": [
        [
          { "node": "Acknowledge", "type": "main", "index": 0 },
          { "node": "Is Help?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Help?": {
      "main": [
        [{ "node": "Send Help", "type": "main", "index": 0 }],
        [{ "node": "Is Ask?", "type": "main", "index": 0 }]
      ]
    },
    "Is Ask?": {
      "main": [
        [{ "node": "Execute Ask", "type": "main", "index": 0 }],
        [{ "node": "Is Stats?", "type": "main", "index": 0 }]
      ]
    },
    "Execute Ask": {
      "main": [
        [{ "node": "Send Ask Response", "type": "main", "index": 0 }]
      ]
    },
    "Is Stats?": {
      "main": [
        [{ "node": "Fetch Stats", "type": "main", "index": 0 }],
        [{ "node": "Is GitLab?", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Stats": {
      "main": [
        [{ "node": "Send Stats", "type": "main", "index": 0 }]
      ]
    },
    "Is GitLab?": {
      "main": [
        [{ "node": "Fetch GitLab MRs", "type": "main", "index": 0 }],
        [{ "node": "Is Jira?", "type": "main", "index": 0 }]
      ]
    },
    "Fetch GitLab MRs": {
      "main": [
        [{ "node": "Format GitLab Response", "type": "main", "index": 0 }]
      ]
    },
    "Format GitLab Response": {
      "main": [
        [{ "node": "Send GitLab Response", "type": "main", "index": 0 }]
      ]
    },
    "Is Jira?": {
      "main": [
        [{ "node": "Fetch Jira Issues", "type": "main", "index": 0 }],
        [{ "node": "Send Unknown Command", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Jira Issues": {
      "main": [
        [{ "node": "Format Jira Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Jira Response": {
      "main": [
        [{ "node": "Send Jira Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
