docker-compose/n8n-workflows/slack-reaction-handler.json
{
  "name": "Slack Reaction Action Handler",
  "description": " Reaction \uae30\ubc18 \uc561\uc158 \ud578\ub4e4\ub7ec - \ub2e4\uc591\ud55c \uc774\ubaa8\uc9c0\ub85c \uc791\uc5c5 \ud2b8\ub9ac\uac70",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-reaction",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "slack-reaction"
    },
    {
      "parameters": {
        "jsCode": "//  Reaction \uc561\uc158 \ub9e4\ud551\nconst REACTION_ACTIONS = {\n  // \ud53c\ub4dc\ubc31\n  'thumbsup': { action: 'feedback', value: 'positive' },\n  'thumbsdown': { action: 'feedback', value: 'negative' },\n  '+1': { action: 'feedback', value: 'positive' },\n  '-1': { action: 'feedback', value: 'negative' },\n  \n  // \ucf54\ub4dc \uc791\uc5c5\n  'eyes': { action: 'review', description: '\ucf54\ub4dc \ub9ac\ubdf0 \uc694\uccad' },\n  'mag': { action: 'analyze', description: '\uc0c1\uc138 \ubd84\uc11d \uc694\uccad' },\n  'rocket': { action: 'deploy', description: '\ubc30\ud3ec \uc694\uccad' },\n  'white_check_mark': { action: 'approve', description: '\uc2b9\uc778' },\n  'x': { action: 'reject', description: '\uac70\uc808' },\n  \n  // \uc791\uc5c5 \uad00\ub9ac\n  'bookmark': { action: 'save', description: '\ubd81\ub9c8\ud06c \uc800\uc7a5' },\n  'pushpin': { action: 'pin', description: '\ud540 \uace0\uc815' },\n  'bulb': { action: 'idea', description: '\uc544\uc774\ub514\uc5b4 \uc800\uc7a5' },\n  'memo': { action: 'note', description: '\ub178\ud2b8 \ucd94\uac00' },\n  \n  // Jira \uc5f0\ub3d9\n  'ticket': { action: 'jira_create', description: 'Jira \ud2f0\ucf13 \uc0dd\uc131' },\n  'link': { action: 'jira_link', description: 'Jira \ud2f0\ucf13 \uc5f0\uacb0' },\n  \n  // GitLab \uc5f0\ub3d9\n  'gitlab': { action: 'gitlab_mr', description: 'GitLab MR \ud655\uc778' },\n  'hammer_and_wrench': { action: 'gitlab_pipeline', description: '\ud30c\uc774\ud504\ub77c\uc778 \ud2b8\ub9ac\uac70' },\n  \n  // \uc7ac\uc2e4\ud589\n  'repeat': { action: 'retry', description: '\ub2e4\uc2dc \uc2e4\ud589' },\n  'arrows_counterclockwise': { action: 'retry', description: '\ub2e4\uc2dc \uc2e4\ud589' },\n  \n  // \uacf5\uc720\n  'speech_balloon': { action: 'share_thread', description: '\uc2a4\ub808\ub4dc \uacf5\uc720' },\n  'envelope': { action: 'share_dm', description: 'DM\uc73c\ub85c \uacf5\uc720' }\n};\n\nconst body = $input.item.json.body || $input.item.json;\nconst eventType = body.type || body.event?.type;\nconst reaction = body.reaction || body.event?.reaction;\nconst userId = body.user || body.event?.user;\nconst itemTs = body.item?.ts || body.event?.item?.ts;\nconst channel = body.item?.channel || body.event?.item?.channel;\nconst itemType = body.item?.type || body.event?.item?.type;\n\n// reaction_added\ub9cc \ucc98\ub9ac\nif (eventType !== 'reaction_added') {\n  return { json: { skip: true, reason: 'Not a reaction_added event' } };\n}\n\nconst actionConfig = REACTION_ACTIONS[reaction];\nif (!actionConfig) {\n  return { json: { skip: true, reason: `Unknown reaction: ${reaction}` } };\n}\n\nreturn {\n  json: {\n    skip: false,\n    action: actionConfig.action,\n    actionValue: actionConfig.value,\n    actionDescription: actionConfig.description,\n    reaction: reaction,\n    userId: userId,\n    messageTs: itemTs,\n    channel: channel,\n    itemType: itemType,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "parse-reaction",
      "name": "Parse Reaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": false
            }
          ]
        }
      },
      "id": "should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "feedback",
              "outputKey": "feedback"
            },
            {
              "value": "review",
              "outputKey": "review"
            },
            {
              "value": "analyze",
              "outputKey": "analyze"
            },
            {
              "value": "jira_create",
              "outputKey": "jira"
            },
            {
              "value": "gitlab_mr",
              "outputKey": "gitlab"
            },
            {
              "value": "gitlab_pipeline",
              "outputKey": "gitlab"
            },
            {
              "value": "retry",
              "outputKey": "retry"
            },
            {
              "value": "save",
              "outputKey": "bookmark"
            },
            {
              "value": "pin",
              "outputKey": "bookmark"
            }
          ],
          "fallbackOutput": "other"
        },
        "dataPropertyName": "={{ $json.action }}"
      },
      "id": "route-action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/feedback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messageTs: $json.messageTs, userId: $json.userId, reaction: $json.reaction, action: 'upsert', value: $json.actionValue }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "handle-feedback",
      "name": "Handle Feedback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, threadTs: $json.messageTs, userId: $json.userId, message: '\ucf54\ub4dc \ub9ac\ubdf0\ub97c \uc694\uccad\ud569\ub2c8\ub2e4. \ubd84\uc11d\uc744 \uc2dc\uc791\ud569\ub2c8\ub2e4...', agentHint: 'code-reviewer' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "handle-review",
      "name": "Handle Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, threadTs: $json.messageTs, userId: $json.userId, message: '\uc0c1\uc138 \ubd84\uc11d\uc744 \uc694\uccad\ud569\ub2c8\ub2e4...', agentHint: 'general' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "handle-analyze",
      "name": "Handle Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/plugins/jira/issues",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'slack_reaction', messageTs: $json.messageTs, channel: $json.channel, requestedBy: $json.userId }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "handle-jira",
      "name": "Handle Jira",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/plugins/gitlab/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ command: $json.action === 'gitlab_pipeline' ? 'trigger-pipeline' : 'mr-info', source: 'slack_reaction', messageTs: $json.messageTs }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "handle-gitlab",
      "name": "Handle GitLab",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        500
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/executions/retry",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messageTs: $json.messageTs, channel: $json.channel, requestedBy: $json.userId }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "handle-retry",
      "name": "Handle Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        600
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/bookmarks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: $json.action, messageTs: $json.messageTs, channel: $json.channel, userId: $json.userId }) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "handle-bookmark",
      "name": "Handle Bookmark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        700
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// \ub85c\uae45\uc6a9 - \ucc98\ub9ac\ub418\uc9c0 \uc54a\uc740 \uc561\uc158\nconsole.log('Unhandled action:', $json.action);\nreturn { json: { handled: false, action: $json.action } };"
      },
      "id": "handle-other",
      "name": "Handle Other",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        800
      ]
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        850,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Slack \uc751\ub2f5 \uc54c\ub9bc \uc804\uc1a1\nconst action = $('Parse Reaction').item.json.action;\nconst channel = $('Parse Reaction').item.json.channel;\nconst userId = $('Parse Reaction').item.json.userId;\n\nreturn {\n  json: {\n    success: true,\n    action: action,\n    message: `Action '${action}' processed for user ${userId}`\n  }\n};"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reaction": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Handle Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Analyze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Jira",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle GitLab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Bookmark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Feedback": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Review": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Analyze": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Jira": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle GitLab": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Retry": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Bookmark": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T12:08:46.932Z",
      "createdAt": "2025-12-16T12:08:46.932Z",
      "role": "workflow:owner",
      "workflowId": "prhGnFP4TzXb2Jo6",
      "projectId": "TkvYusRUP5M0JjPz",
      "project": {
        "updatedAt": "2025-12-12T13:53:25.334Z",
        "createdAt": "2025-12-12T13:53:06.804Z",
        "id": "TkvYusRUP5M0JjPz",
        "name": "Admin User <admin@local.dev>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-12T13:53:06.805Z",
            "createdAt": "2025-12-12T13:53:06.805Z",
            "userId": "4c5eb87d-b450-4aa9-99be-756bb1dd6cb1",
            "projectId": "TkvYusRUP5M0JjPz",
            "user": {
              "updatedAt": "2025-12-16T14:40:05.000Z",
              "createdAt": "2025-12-12T13:53:06.607Z",
              "id": "4c5eb87d-b450-4aa9-99be-756bb1dd6cb1",
              "email": "admin@local.dev",
              "firstName": "Admin",
              "lastName": "User",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-12T14:11:12.282Z",
                "personalization_survey_n8n_version": "1.123.5"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "AUZM2f9OrmRxoHoG",
                "userActivatedAt": 1765548282300
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": null
}
