docker-compose/n8n-workflows/slack-mr-review-v2.json
{
  "name": "Slack MR Review Handler V2 (Best Practice)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-mr-review-v2",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "slack-mr-review-v2"
    },
    {
      "parameters": {
        "jsCode": "// Slack 메시지에서 MR 번호와 프로젝트 추출\nconst body = $input.item.json.body;\nconst text = body.text || '';\n\n// 프로젝트 패턴\nconst projectPatterns = [\n  /\\[프로젝트:\\s*([^\\]]+)\\]/i,\n  /([a-z][a-z0-9-]*-server)/i,\n  /([a-z][a-z0-9-]+)\\s+!\\d+/i\n];\n\nlet projectHint = null;\nfor (const pattern of projectPatterns) {\n  const match = text.match(pattern);\n  if (match) {\n    projectHint = match[1].toLowerCase().trim();\n    break;\n  }\n}\n\n// MR 번호 패턴\nconst mrPatterns = [\n  /!([0-9]+)/,\n  /MR\\s*#?([0-9]+)/i,\n  /merge_requests\\/([0-9]+)/i\n];\n\nlet mrNumber = null;\nfor (const pattern of mrPatterns) {\n  const match = text.match(pattern);\n  if (match) {\n    mrNumber = parseInt(match[1]);\n    break;\n  }\n}\n\nif (!mrNumber) {\n  return { json: { error: 'MR 번호를 찾을 수 없습니다.', channel: body.channel, threadTs: body.threadTs || body.timestamp } };\n}\n\nreturn {\n  json: {\n    mr_iid: mrNumber,\n    project_hint: projectHint,\n    channel: body.channel,\n    threadTs: body.threadTs || body.timestamp,\n    timestamp: body.timestamp,\n    user: body.user,\n    text: text\n  }\n};"
      },
      "id": "extract-mr",
      "name": "Extract MR Number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "has-mr",
      "name": "Has MR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, timestamp: $json.timestamp, emoji: 'hourglass_flowing_sand', remove: false }) }}"
      },
      "id": "add-loading",
      "name": "Add Loading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Claude Flow MR 분석 API 호출 (Best Practice: 단일 호출로 모든 정보)\nconst extractData = $('Extract MR Number').first().json;\nconst apiUrl = process.env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080';\n\n// 프로젝트 결정 (환경변수 또는 힌트)\nlet project = extractData.project_hint;\nif (!project) {\n  // GITLAB_GROUP 환경변수 사용\n  project = process.env.GITLAB_GROUP || 'sirius/ccds';\n}\n\ntry {\n  // Claude Flow의 MR 분석 API 호출 (2-Pass 아키텍처)\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${apiUrl}/api/v1/mr-review/analyze/${encodeURIComponent(project)}/${extractData.mr_iid}`,\n    json: true,\n    timeout: 60000\n  });\n\n  if (!response.success) {\n    return { json: { error: response.error || 'MR 분석 실패', ...extractData } };\n  }\n\n  // 분석 결과 반환 (API가 이미 GitLab 플래그를 직접 활용)\n  return {\n    json: {\n      ...extractData,\n      analysisResult: response.data,\n      message: response.message\n    }\n  };\n} catch (e) {\n  return { json: { error: `MR 분석 API 호출 실패: ${e.message}`, ...extractData } };\n}"
      },
      "id": "analyze-mr",
      "name": "Analyze MR (Best Practice)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "analysis-ok",
      "name": "Analysis OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "jsCode": "// 분석 결과로 AI 리뷰 프롬프트 생성\nconst data = $input.item.json;\nconst analysis = data.analysisResult;\nconst mr = analysis.mr || {};\nconst fileAnalysis = analysis.fileAnalysis || {};\nconst quickIssues = analysis.quickIssues || [];\nconst priorityFiles = analysis.priorityFiles || [];\n\n// 빠른 이슈 포맷팅\nlet issuesText = '';\nif (quickIssues.length > 0) {\n  issuesText = '\\n\\n## 자동 감지 이슈 (Pass 1)\\n';\n  for (const issue of quickIssues) {\n    issuesText += `${issue.message}\\n`;\n    if (issue.suggestion) issuesText += `  → ${issue.suggestion}\\n`;\n  }\n}\n\n// 파일 분석 요약\nlet filesText = '\\n\\n## 변경 파일 분석 (GitLab API 플래그 기반)\\n';\nfilesText += `총 ${fileAnalysis.totalFiles || 0}개 파일 (+${fileAnalysis.totalAdditions || 0}/-${fileAnalysis.totalDeletions || 0})\\n\\n`;\n\nif (fileAnalysis.renamed?.length > 0) {\n  filesText += '### 파일명 변경 (Rename)\\n';\n  for (const f of fileAnalysis.renamed) {\n    filesText += `- ✏️ ${f.oldPath} → ${f.newPath}\\n`;\n  }\n}\nif (fileAnalysis.added?.length > 0) {\n  filesText += '### 신규 파일 (Add)\\n';\n  for (const f of fileAnalysis.added) {\n    filesText += `- ➕ ${f.path}\\n`;\n  }\n}\nif (fileAnalysis.deleted?.length > 0) {\n  filesText += '### 삭제 파일 (Delete)\\n';\n  for (const f of fileAnalysis.deleted) {\n    filesText += `- ➖ ${f.path}\\n`;\n  }\n}\nif (fileAnalysis.modified?.length > 0) {\n  filesText += '### 수정 파일 (Modify)\\n';\n  for (const f of fileAnalysis.modified.slice(0, 10)) {\n    filesText += `- 📝 ${f.path} (+${f.additions || 0}/-${f.deletions || 0})\\n`;\n  }\n  if (fileAnalysis.modified.length > 10) {\n    filesText += `- ... 외 ${fileAnalysis.modified.length - 10}개\\n`;\n  }\n}\n\n// 프롬프트 빌드\nlet prompt = `## MR !${mr.iid || data.mr_iid} 코드 리뷰 요청\\n\\n`;\nprompt += `**제목**: ${mr.title || 'Unknown'}\\n`;\nprompt += `**브랜치**: \\`${mr.source_branch || '?'}\\` → \\`${mr.target_branch || '?'}\\`\\n`;\nprompt += `**작성자**: ${mr.author || 'Unknown'}\\n`;\nprompt += `**URL**: ${mr.web_url || ''}\\n`;\nprompt += filesText;\nprompt += issuesText;\n\nif (priorityFiles.length > 0) {\n  prompt += '\\n\\n## 우선 리뷰 대상 파일\\n';\n  for (const f of priorityFiles.slice(0, 5)) {\n    prompt += `- ${f}\\n`;\n  }\n}\n\nprompt += '\\n\\n위 분석 결과를 바탕으로 종합적인 코드 리뷰를 수행해주세요.';\n\nreturn {\n  json: {\n    ...data,\n    formatted_prompt: prompt,\n    mr_iid: mr.iid || data.mr_iid,\n    mr_title: mr.title || 'Unknown',\n    mr_url: mr.web_url || '',\n    project_id: data.project_hint\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 100]
    },
    {
      "parameters": {
        "jsCode": "// Claude Flow 실행 (Pass 2: AI 심층 분석)\nconst data = $input.item.json;\nconst apiUrl = process.env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080';\n\nconst systemPrompt = `당신은 시니어 코드 리뷰어입니다.\n\n## 리뷰 지침\n1. Pass 1에서 자동 감지된 이슈를 검토하고 타당성을 평가하세요\n2. 코드 품질, 아키텍처, 성능 관점에서 추가 피드백을 제공하세요\n3. Breaking Change가 있다면 반드시 언급하세요\n4. 긍정적인 측면도 언급하세요\n\n## 응답 형식 (JSON)\n{\n  \"verdict\": \"approve\" | \"request_changes\" | \"comment\",\n  \"summary\": \"1-2문장 한글 요약\",\n  \"points\": [\"피드백 항목 배열\"],\n  \"gitlab_comment\": \"GitLab 코멘트용 마크다운\"\n}`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${apiUrl}/api/v1/execute-with-routing`,\n    body: {\n      prompt: data.formatted_prompt,\n      systemPrompt: systemPrompt,\n      maxTurns: 15,\n      channel: 'gitlab-review-v2',\n      source: 'slack_mr'\n    },\n    json: true,\n    timeout: 600000\n  });\n\n  return { json: { ...data, claudeResponse: response } };\n} catch (e) {\n  return { json: { ...data, claudeResponse: { success: false, error: e.message } } };\n}"
      },
      "id": "execute-claude",
      "name": "Execute Claude (Pass 2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 100]
    },
    {
      "parameters": {
        "jsCode": "// 로딩 반응 제거\nconst data = $input.item.json;\nconst apiUrl = process.env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${apiUrl}/api/v1/slack/reaction`,\n    body: { channel: data.channel, timestamp: data.timestamp, emoji: 'hourglass_flowing_sand', remove: true },\n    json: true\n  });\n} catch (e) { /* ignore */ }\n\nreturn { json: data };"
      },
      "id": "remove-loading",
      "name": "Remove Loading",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.claudeResponse?.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2040, 100]
    },
    {
      "parameters": {
        "jsCode": "// Claude 응답 파싱\nconst data = $input.item.json;\nconst rawResult = data.claudeResponse?.result || '';\nconst analysis = data.analysisResult || {};\nconst quickIssues = analysis.quickIssues || [];\n\n// 안전한 문자열/배열 변환\nconst safeString = (val, fallback = '') => {\n  if (val === undefined || val === null) return fallback;\n  if (typeof val === 'object') return JSON.stringify(val);\n  return String(val);\n};\nconst safeArray = (val) => {\n  if (!val || !Array.isArray(val)) return [];\n  return val.map(item => safeString(item)).filter(s => s.length > 0);\n};\n\nlet review = {\n  verdict: 'comment',\n  summary: '리뷰 완료',\n  points: [],\n  gitlab_comment: '## AI Code Review\\n\\n' + rawResult\n};\n\ntry {\n  const jsonMatch = rawResult.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    review = {\n      verdict: safeString(parsed.verdict, 'comment'),\n      summary: safeString(parsed.summary, '리뷰 완료'),\n      points: safeArray(parsed.points),\n      gitlab_comment: safeString(parsed.gitlab_comment, '## AI Code Review\\n\\n' + rawResult)\n    };\n  }\n} catch (e) { /* JSON 파싱 실패 시 원본 사용 */ }\n\n// Pass 1 이슈를 GitLab 코멘트에 추가\nlet pass1Section = '';\nif (quickIssues.length > 0) {\n  pass1Section = '\\n\\n### 자동 감지 이슈 (Pass 1)\\n';\n  for (const issue of quickIssues) {\n    pass1Section += `- ${issue.message}\\n`;\n  }\n}\n\nif (!review.gitlab_comment.includes('자동 감지')) {\n  review.gitlab_comment = review.gitlab_comment + pass1Section;\n}\nreview.gitlab_comment += '\\n\\n---\\n_Generated by Claude Flow V2 (Best Practice)_';\n\n// Slack 메시지 빌드\nconst verdictEmoji = { approve: ':white_check_mark:', request_changes: ':warning:', comment: ':speech_balloon:' };\nconst emoji = verdictEmoji[review.verdict] || ':speech_balloon:';\nconst mrUrl = safeString(data.mr_url, '#');\nconst mrIid = safeString(data.mr_iid, '?');\nconst mrTitle = safeString(data.mr_title, 'Unknown MR');\n\nlet slackMessage = `${emoji} <${mrUrl}|!${mrIid}> ${mrTitle}\\n${review.summary}`;\nconst points = review.points.slice(0, 5).map(p => `• ${p}`).join('\\n');\nif (points) slackMessage += '\\n' + points;\n\n// Pass 1 이슈 수 표시\nif (quickIssues.length > 0) {\n  slackMessage += `\\n\\n📊 자동 감지: ${quickIssues.length}개 이슈`;\n}\n\nreturn { json: { ...data, review, slackMessage } };"
      },
      "id": "parse-review",
      "name": "Parse Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 0]
    },
    {
      "parameters": {
        "jsCode": "// 최종 완료: GitLab 코멘트 + Slack 메시지 + 성공 반응\nconst data = $input.item.json;\nconst gitlabUrl = process.env.GITLAB_URL || 'https://gitlab.example.com';\nconst gitlabToken = process.env.GITLAB_TOKEN || '';\nconst apiUrl = process.env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080';\n\n// 1. GitLab 코멘트\nif (data.project_id && data.mr_iid) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${gitlabUrl}/api/v4/projects/${encodeURIComponent(data.project_id)}/merge_requests/${data.mr_iid}/notes`,\n      headers: { 'PRIVATE-TOKEN': gitlabToken },\n      body: { body: data.review.gitlab_comment },\n      json: true\n    });\n  } catch (e) { console.log('GitLab comment error:', e.message); }\n}\n\n// 2. Slack 메시지\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${apiUrl}/api/v1/slack/message`,\n    body: { channel: data.channel, text: data.slackMessage, threadTs: data.threadTs },\n    json: true\n  });\n} catch (e) { console.log('Slack message error:', e.message); }\n\n// 3. 성공 반응\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${apiUrl}/api/v1/slack/reaction`,\n    body: { channel: data.channel, timestamp: data.timestamp, emoji: 'white_check_mark', remove: false },\n    json: true\n  });\n} catch (e) { console.log('Reaction error:', e.message); }\n\nreturn { json: { success: true } };"
      },
      "id": "complete-review",
      "name": "Complete Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: ':x: MR 리뷰 실패: ' + ($json.claudeResponse?.error || $json.error || 'Unknown error'), threadTs: $json.threadTs }) }}"
      },
      "id": "post-error",
      "name": "Post Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2240, 200],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: $json.error, threadTs: $json.threadTs }) }}"
      },
      "id": "no-mr-error",
      "name": "No MR Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 400],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAUDE_FLOW_API_URL || 'http://host.docker.internal:8080' }}/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $json.channel, text: ':x: MR 분석 실패: ' + $json.error, threadTs: $json.threadTs }) }}"
      },
      "id": "analysis-error",
      "name": "Analysis Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Extract MR Number", "type": "main", "index": 0 }]]
    },
    "Extract MR Number": {
      "main": [[{ "node": "Has MR?", "type": "main", "index": 0 }]]
    },
    "Has MR?": {
      "main": [
        [{ "node": "Add Loading", "type": "main", "index": 0 }],
        [{ "node": "No MR Error", "type": "main", "index": 0 }]
      ]
    },
    "Add Loading": {
      "main": [[{ "node": "Analyze MR (Best Practice)", "type": "main", "index": 0 }]]
    },
    "Analyze MR (Best Practice)": {
      "main": [[{ "node": "Analysis OK?", "type": "main", "index": 0 }]]
    },
    "Analysis OK?": {
      "main": [
        [{ "node": "Build AI Prompt", "type": "main", "index": 0 }],
        [{ "node": "Analysis Error", "type": "main", "index": 0 }]
      ]
    },
    "Build AI Prompt": {
      "main": [[{ "node": "Execute Claude (Pass 2)", "type": "main", "index": 0 }]]
    },
    "Execute Claude (Pass 2)": {
      "main": [[{ "node": "Remove Loading", "type": "main", "index": 0 }]]
    },
    "Remove Loading": {
      "main": [[{ "node": "Success?", "type": "main", "index": 0 }]]
    },
    "Success?": {
      "main": [
        [{ "node": "Parse Review", "type": "main", "index": 0 }],
        [{ "node": "Post Error", "type": "main", "index": 0 }]
      ]
    },
    "Parse Review": {
      "main": [[{ "node": "Complete Review", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
