docker-compose/n8n-workflows/slack-router.json
{
  "name": "Slack Event Router",
  "description": "중앙 이벤트 분류기: 모든 Slack 이벤트를 분류하고 적절한 핸들러로 라우팅",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-event",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook",
      "name": "Slack Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "slack-event"
    },
    {
      "parameters": {
        "jsCode": "// 중앙 이벤트 분류기\nconst body = $input.item.json.body || $input.item.json;\nconst eventType = body.eventType || 'UNKNOWN';\nconst text = (body.text || '').trim();\nconst reaction = body.reaction || '';\n\n// 분류 결과\nlet category = 'unknown';\nlet handler = 'none';\nlet metadata = {};\n\n// 1. 이벤트 타입별 분류\nswitch (eventType) {\n  case 'MENTION':\n    // 멘션 이벤트 세부 분류\n    if (text.charAt(0) === '/') {\n      category = 'command';\n      handler = 'command-handler';\n    } else if (text.match(/!(\\d+)|MR\\s*#?(\\d+)|merge_requests?\\/(\\d+)/i)) {\n      // MR 리뷰 요청 (MR 번호 + 리뷰 키워드)\n      const reviewKeywords = ['리뷰', 'review', '검토', '봐줘', '확인', 'cr ', 'code review'];\n      const hasReviewKeyword = reviewKeywords.some(k => text.toLowerCase().includes(k.toLowerCase()));\n      if (hasReviewKeyword) {\n        category = 'mr-review';\n        handler = 'mr-review-handler';\n        metadata.mrNumber = text.match(/!(\\d+)|MR\\s*#?(\\d+)|merge_requests?\\/(\\d+)/i)?.[1];\n      } else {\n        category = 'general';\n        handler = 'mention-handler';\n      }\n    } else {\n      category = 'general';\n      handler = 'mention-handler';\n    }\n    break;\n\n  case 'MESSAGE':\n    category = 'message';\n    handler = 'message-handler';\n    break;\n\n  case 'ALERT_BOT_MESSAGE':\n    category = 'alert';\n    handler = 'alert-handler';\n    break;\n\n  case 'REACTION_ADDED':\n    // 피드백 리액션\n    const feedbackReactions = ['+1', '-1', 'thumbsup', 'thumbsdown'];\n    if (feedbackReactions.includes(reaction)) {\n      category = 'feedback';\n      handler = 'feedback-handler';\n    } else {\n      category = 'reaction';\n      handler = 'reaction-handler';\n    }\n    break;\n\n  case 'REACTION_REMOVED':\n    category = 'feedback-remove';\n    handler = 'feedback-handler';\n    break;\n\n  case 'ACTION_TRIGGER':\n    category = 'action';\n    handler = 'action-handler';\n    break;\n\n  case 'ISSUE_CREATION':\n    category = 'issue-creation';\n    handler = 'issue-creation-handler';\n    break;\n\n  default:\n    category = 'unknown';\n    handler = 'none';\n}\n\nreturn {\n  json: {\n    ...body,\n    routing: {\n      category,\n      handler,\n      originalEventType: eventType,\n      metadata\n    }\n  }\n};"
      },
      "id": "classify",
      "name": "Classify Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mention-check",
              "leftValue": "={{ $json.routing.handler }}",
              "rightValue": "mention-handler",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-mention",
      "name": "Is Mention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mr-check",
              "leftValue": "={{ $json.routing.handler }}",
              "rightValue": "mr-review-handler",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-mr-review",
      "name": "Is MR Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feedback-check",
              "leftValue": "={{ $json.routing.category }}",
              "rightValue": "feedback",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-feedback",
      "name": "Is Feedback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "action-check",
              "leftValue": "={{ $json.routing.handler }}",
              "rightValue": "action-handler",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-action",
      "name": "Is Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://localhost:5678' }}/webhook/slack-mention",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 5000 }
      },
      "id": "route-mention",
      "name": "Route to Mention Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://localhost:5678' }}/webhook/slack-mr-review",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 5000 }
      },
      "id": "route-mr-review",
      "name": "Route to MR Review Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://localhost:5678' }}/webhook/slack-feedback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 5000 }
      },
      "id": "route-feedback",
      "name": "Route to Feedback Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 550],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://localhost:5678' }}/webhook/slack-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 5000 }
      },
      "id": "route-action",
      "name": "Route to Action Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 750],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 라우팅되지 않은 이벤트 로깅\nconst event = $input.item.json;\nconsole.log('Unrouted event:', JSON.stringify(event.routing));\nreturn { json: { logged: true, routing: event.routing } };"
      },
      "id": "log-unrouted",
      "name": "Log Unrouted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 950]
    }
  ],
  "connections": {
    "Slack Event Webhook": {
      "main": [[{ "node": "Classify Event", "type": "main", "index": 0 }]]
    },
    "Classify Event": {
      "main": [
        [
          { "node": "Is Mention?", "type": "main", "index": 0 },
          { "node": "Is MR Review?", "type": "main", "index": 0 },
          { "node": "Is Feedback?", "type": "main", "index": 0 },
          { "node": "Is Action?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Mention?": {
      "main": [
        [{ "node": "Route to Mention Handler", "type": "main", "index": 0 }],
        [{ "node": "Log Unrouted", "type": "main", "index": 0 }]
      ]
    },
    "Is MR Review?": {
      "main": [
        [{ "node": "Route to MR Review Handler", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is Feedback?": {
      "main": [
        [{ "node": "Route to Feedback Handler", "type": "main", "index": 0 }],
        []
      ]
    },
    "Is Action?": {
      "main": [
        [{ "node": "Route to Action Handler", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
