docker-compose/n8n-workflows/slack-channel-handler.json
{
  "name": "Slack Channel Message Handler",
  "versionId": "channel-handler-v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/channel-message",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.type }}",
              "operation": "equals",
              "value2": "url_verification"
            }
          ]
        }
      },
      "id": "is-verification",
      "name": "Is Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}",
        "options": {}
      },
      "id": "verify-response",
      "name": "Verification Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// 메시지 필터링\nconst body = $input.item.json.body;\nconst event = body.event;\n\n// 봇 메시지 무시\nif (event.bot_id || event.subtype === 'bot_message') {\n  return [];\n}\n\n// 멘션 메시지는 다른 워크플로우에서 처리\nif (event.text && event.text.includes('<@')) {\n  return [];\n}\n\n// 허용된 채널 목록 (환경변수에서 설정)\nconst allowedChannels = ($env.ALLOWED_CHANNELS || '').split(',').map(c => c.trim());\nif (allowedChannels.length > 0 && !allowedChannels.includes(event.channel)) {\n  return [];\n}\n\n// 최소 메시지 길이 체크\nif (!event.text || event.text.trim().length < 3) {\n  return [];\n}\n\nreturn {\n  json: {\n    channel: event.channel,\n    user: event.user,\n    text: event.text,\n    ts: event.ts,\n    thread_ts: event.thread_ts || event.ts,\n    event_ts: event.event_ts\n  }\n};"
      },
      "id": "filter-messages",
      "name": "Filter Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 350]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "ack-response",
      "name": "Acknowledge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 350]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://slack.com/api/users.info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "user", "value": "={{ $json.user }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}" }
          ]
        }
      },
      "id": "get-user-info",
      "name": "Get User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Filter Messages').item.json;\nconst userInfo = $input.item.json;\n\nconst userName = userInfo.user?.real_name || userInfo.user?.name || 'Unknown';\n\nreturn {\n  json: {\n    ...msg,\n    userName: userName,\n    prompt: msg.text\n  }\n};"
      },
      "id": "build-request",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/execute",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.prompt, projectId: $json.channel, userId: $json.user, channel: $json.channel, threadTs: $json.thread_ts, systemPrompt: 'You are a helpful AI assistant in a Slack channel. Be concise and friendly. Respond in Korean unless the user writes in another language.' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "execute-claude",
      "name": "Execute Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error !== undefined }}",
              "value2": true
            }
          ]
        }
      },
      "id": "has-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Build Request').item.json.channel, thread_ts: $('Build Request').item.json.thread_ts, text: $json.result || 'No response generated' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "post-success",
      "name": "Post Success Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 250],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "no-action",
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2050, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Is Verification?", "type": "main", "index": 0 }]
      ]
    },
    "Is Verification?": {
      "main": [
        [{ "node": "Verification Response", "type": "main", "index": 0 }],
        [{ "node": "Filter Messages", "type": "main", "index": 0 }]
      ]
    },
    "Filter Messages": {
      "main": [
        [
          { "node": "Acknowledge", "type": "main", "index": 0 },
          { "node": "Has Message?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [{ "node": "Get User Info", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get User Info": {
      "main": [
        [{ "node": "Build Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Request": {
      "main": [
        [{ "node": "Execute Claude", "type": "main", "index": 0 }]
      ]
    },
    "Execute Claude": {
      "main": [
        [{ "node": "Has Error?", "type": "main", "index": 0 }]
      ]
    },
    "Has Error?": {
      "main": [
        [{ "node": "No Action", "type": "main", "index": 0 }],
        [{ "node": "Post Success Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
