docker-compose/n8n-workflows/slack-mention-handler.json
{
  "name": "Slack Mention Handler",
  "versionId": "mention-handler-v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-mention",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "slack-mention"
    },
    {
      "parameters": {
        "jsCode": "// 메시지 유형 분류: command, mr-review, general\nconst body = $input.item.json.body || {};\nconst text = (body.text || '').replace(/<@[A-Z0-9]+>/gi, '').trim();\n\n// 기본 결과 객체 (항상 messageType 포함)\nconst result = { ...body, messageType: 'general', isMrReview: false };\n\n// 1. 명령어 체크 (/로 시작)\nif (text.charAt(0) === '/') {\n  result.messageType = 'command';\n  return { json: result };\n}\n\n// 2. MR 리뷰 요청 체크 (더 엄격한 조건)\n// MR 번호 패턴: !123, MR 123, MR#123, merge_requests/123\nconst mrPatterns = [\n  /!([0-9]+)/,\n  /MR\\s*#?([0-9]+)/i,\n  /merge_requests?\\/([0-9]+)/i\n];\n\n// MR 번호 추출\nlet mrNumber = null;\nfor (const pattern of mrPatterns) {\n  const match = text.match(pattern);\n  if (match) {\n    mrNumber = match[1];\n    break;\n  }\n}\n\n// MR 번호가 있어야만 리뷰 요청으로 처리\nif (mrNumber) {\n  // 리뷰 관련 키워드 (명시적인 리뷰 요청)\n  const reviewKeywords = ['리뷰', 'review', '검토', '봐줘', '확인', '코드리뷰', 'cr ', 'code review'];\n  const hasReviewKeyword = reviewKeywords.some(k => text.toLowerCase().includes(k.toLowerCase()));\n  \n  // MR 번호 + 리뷰 키워드가 있어야 MR 리뷰\n  if (hasReviewKeyword) {\n    result.messageType = 'mr-review';\n    result.isMrReview = true;\n    result.mrNumber = mrNumber;\n    return { json: result };\n  }\n}\n\n// 3. 일반 메시지 (기본값 유지)\nreturn { json: result };"
      },
      "id": "classify-message",
      "name": "Classify Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "notEquals",
              "value2": "command"
            }
          ]
        }
      },
      "id": "is-command",
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mr-review-check",
              "leftValue": "={{ $json.isMrReview }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-mr-review",
      "name": "Is MR Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/command",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Webhook').item.json.body.text, channel: $('Webhook').item.json.body.channel }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "execute-command",
      "name": "Execute Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: $json.response || '명령어 처리 중 오류가 발생했습니다.', threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-command-response",
      "name": "Send Command Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 150],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_WEBHOOK_URL || 'http://localhost:5678' }}/webhook/slack-mr-review",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook').item.json.body) }}",
        "options": { "timeout": 5000 }
      },
      "id": "redirect-mr-review",
      "name": "Redirect to MR Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'hourglass_flowing_sand', remove: false }) }}"
      },
      "id": "add-loading",
      "name": "Add Loading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/thread-history",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp, limit: 20 }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "get-thread-history",
      "name": "Get Thread History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 스레드 히스토리를 대화 형식으로 변환\nconst webhookBody = $('Webhook').item.json.body;\nconst historyResponse = $input.item.json;\n\nlet conversationHistory = [];\n\nif (historyResponse && historyResponse.success && historyResponse.messages && historyResponse.messages.length > 1) {\n  const previousMessages = historyResponse.messages.slice(0, -1);\n  conversationHistory = previousMessages.map(msg => ({\n    role: msg.isBot ? 'assistant' : 'user',\n    content: msg.text.replace(/<@[A-Z0-9]+>/g, '').trim(),\n    userName: msg.userName || msg.user\n  })).filter(msg => msg.content.length > 0);\n}\n\nreturn {\n  json: {\n    channel: webhookBody.channel,\n    text: webhookBody.text,\n    threadTs: webhookBody.threadTs || webhookBody.timestamp,\n    timestamp: webhookBody.timestamp,\n    user: webhookBody.user,\n    conversationHistory: conversationHistory\n  }\n};"
      },
      "id": "format-history",
      "name": "Format History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/execute-with-routing",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.text, maxTurns: 50, conversationHistory: $json.conversationHistory, channel: $json.channel, threadTs: $json.threadTs, userId: $json.user }) }}",
        "options": { "timeout": 900000 }
      },
      "id": "execute-claude",
      "name": "Execute Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'hourglass_flowing_sand', remove: true }) }}"
      },
      "id": "remove-loading",
      "name": "Remove Loading",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1900, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success === true }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2100, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: ($('Execute Claude').item.json.projectId ? '📁 [' + $('Execute Claude').item.json.projectId + '] ' : '') + ($('Execute Claude').item.json.routedAgent ? '🤖 [' + $('Execute Claude').item.json.routedAgent + ']\\n' : '') + ($('Execute Claude').item.json.result || $('Execute Claude').item.json.error || '응답이 없습니다. 도구 권한이나 작업 범위를 확인해주세요.'), threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-reply",
      "name": "Send Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, text: '❌ 오류가 발생했습니다: ' + ($('Execute Claude').item.json.error || $('Execute Claude').item.json.message || 'Unknown error'), threadTs: $('Webhook').item.json.body.threadTs || $('Webhook').item.json.body.timestamp }) }}"
      },
      "id": "send-error",
      "name": "Send Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'http://host.docker.internal:8080/api/v1/executions/' + $('Execute Claude').item.json.executionId + '/reply-ts' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ replyTs: $('Send Reply').item.json.timestamp }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "save-reply-ts",
      "name": "Save Reply TS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'white_check_mark', remove: false }) }}"
      },
      "id": "add-success-reaction",
      "name": "Add ✅",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2700, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Webhook').item.json.body.timestamp, emoji: 'x', remove: false }) }}"
      },
      "id": "add-error-reaction",
      "name": "Add ❌",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2500, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Send Reply').item.json.timestamp, emoji: 'thumbsup', remove: false }) }}"
      },
      "id": "add-thumbsup",
      "name": "Add 👍",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/api/v1/slack/reaction",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $('Webhook').item.json.body.channel, timestamp: $('Send Reply').item.json.timestamp, emoji: 'thumbsdown', remove: false }) }}"
      },
      "id": "add-thumbsdown",
      "name": "Add 👎",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2900, 400],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Classify Message", "type": "main", "index": 0 }]]
    },
    "Classify Message": {
      "main": [[{ "node": "Is Command?", "type": "main", "index": 0 }]]
    },
    "Is Command?": {
      "main": [
        [{ "node": "Is MR Review?", "type": "main", "index": 0 }],
        [{ "node": "Execute Command", "type": "main", "index": 0 }]
      ]
    },
    "Is MR Review?": {
      "main": [
        [{ "node": "Redirect to MR Review", "type": "main", "index": 0 }],
        [{ "node": "Add Loading", "type": "main", "index": 0 }]
      ]
    },
    "Execute Command": {
      "main": [[{ "node": "Send Command Response", "type": "main", "index": 0 }]]
    },
    "Add Loading": {
      "main": [[{ "node": "Get Thread History", "type": "main", "index": 0 }]]
    },
    "Get Thread History": {
      "main": [[{ "node": "Format History", "type": "main", "index": 0 }]]
    },
    "Format History": {
      "main": [[{ "node": "Execute Claude", "type": "main", "index": 0 }]]
    },
    "Execute Claude": {
      "main": [[{ "node": "Remove Loading", "type": "main", "index": 0 }]]
    },
    "Remove Loading": {
      "main": [[{ "node": "Success?", "type": "main", "index": 0 }]]
    },
    "Success?": {
      "main": [
        [{ "node": "Send Reply", "type": "main", "index": 0 }],
        [{ "node": "Send Error", "type": "main", "index": 0 }]
      ]
    },
    "Send Reply": {
      "main": [[{ "node": "Save Reply TS", "type": "main", "index": 0 }]]
    },
    "Save Reply TS": {
      "main": [[{ "node": "Add ✅", "type": "main", "index": 0 }]]
    },
    "Send Error": {
      "main": [[{ "node": "Add ❌", "type": "main", "index": 0 }]]
    },
    "Add ✅": {
      "main": [[
        { "node": "Add 👍", "type": "main", "index": 0 },
        { "node": "Add 👎", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
