docker-compose/n8n-workflows/stale-cleanup-scheduler.json
{
  "name": "Stale Cleanup Scheduler",
  "versionId": "stale-cleanup-v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 3AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/analytics/overview",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "days", "value": "1" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-yesterday-stats",
      "name": "Fetch Yesterday Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/analytics/errors",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "days", "value": "1" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-errors",
      "name": "Fetch Errors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8080/api/v1/analytics/models",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "days", "value": "1" }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-model-stats",
      "name": "Fetch Model Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 700],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-stats",
      "name": "Merge Stats",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 500]
    },
    {
      "parameters": {
        "jsCode": "const overview = $('Fetch Yesterday Stats').item.json;\nconst errors = $('Fetch Errors').all().map(i => i.json);\nconst models = $('Fetch Model Stats').all().map(i => i.json);\n\nconst today = new Date().toISOString().split('T')[0];\n\n// 에러 요약\nlet errorSummary = '';\nif (errors.length > 0 && Array.isArray(errors[0])) {\n  const topErrors = errors[0].slice(0, 5);\n  errorSummary = topErrors.map(e => `  • ${e.errorType}: ${e.count}건`).join('\\n');\n}\n\n// 모델 사용량\nlet modelSummary = '';\nif (models.length > 0 && Array.isArray(models[0])) {\n  modelSummary = models[0].map(m => \n    `  • ${m.model}: ${m.requests}건 ($${(m.totalCostUsd || 0).toFixed(2)})`\n  ).join('\\n');\n}\n\n// 변화율 계산\nconst comparison = overview.comparison || {};\nconst requestChange = comparison.requestsChange || 0;\nconst successChange = comparison.successRateChange || 0;\n\nconst changeEmoji = (val) => val > 0 ? '📈' : val < 0 ? '📉' : '➡️';\n\nconst report = `📊 *Daily Claude Flow Report - ${today}*\n\n*Overview*\n• Total Requests: ${overview.totalRequests || 0} (${changeEmoji(requestChange)} ${requestChange > 0 ? '+' : ''}${requestChange.toFixed(1)}%)\n• Success Rate: ${((overview.successRate || 0) * 100).toFixed(1)}% (${changeEmoji(successChange)} ${successChange > 0 ? '+' : ''}${successChange.toFixed(1)}%)\n• Total Cost: $${(overview.totalCostUsd || 0).toFixed(2)}\n• Total Tokens: ${((overview.totalInputTokens || 0) + (overview.totalOutputTokens || 0)).toLocaleString()}\n\n*Performance (P95)*\n• Latency: ${overview.percentiles?.p95 || 0}ms\n\n*Feedback*\n• 👍 ${overview.feedback?.positive || 0} / 👎 ${overview.feedback?.negative || 0}\n• Satisfaction: ${((overview.feedback?.satisfactionRate || 0) * 100).toFixed(0)}%\n\n*Top Errors*\n${errorSummary || '  • No errors'}\n\n*Model Usage*\n${modelSummary || '  • No data'}\n\n---\n_Auto-generated by Claude Flow_`;\n\nreturn {\n  json: {\n    report,\n    stats: overview\n  }\n};"
      },
      "id": "prepare-report",
      "name": "Prepare Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: $env.SLACK_REPORT_CHANNEL || '#claude-flow-reports', text: $json.report, mrkdwn: true }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.SLACK_BOT_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "id": "post-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 500],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://host.docker.internal:8080/api/v1/admin/cleanup",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "olderThanDays", "value": "30" },
            { "name": "keepSuccessful", "value": "7" }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "cleanup-old-data",
      "name": "Cleanup Old Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 500],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Daily at 3AM": {
      "main": [
        [
          { "node": "Fetch Yesterday Stats", "type": "main", "index": 0 },
          { "node": "Fetch Errors", "type": "main", "index": 0 },
          { "node": "Fetch Model Stats", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Yesterday Stats": {
      "main": [
        [{ "node": "Merge Stats", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Errors": {
      "main": [
        [{ "node": "Merge Stats", "type": "main", "index": 1 }]
      ]
    },
    "Fetch Model Stats": {
      "main": [
        [{ "node": "Merge Stats", "type": "main", "index": 2 }]
      ]
    },
    "Merge Stats": {
      "main": [
        [{ "node": "Prepare Report", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Report": {
      "main": [
        [{ "node": "Post to Slack", "type": "main", "index": 0 }]
      ]
    },
    "Post to Slack": {
      "main": [
        [{ "node": "Cleanup Old Data", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
